openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/commands/rclone/:
    delete:
      summary: Cancel Remote Rclone Copy
      tags:
      - Instances
      description: Kills the running rclone process on the destination instance to cancel an in-progress cloud copy.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 3.5
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dst_id:
                  type: integer
                  description: The destination instance ID of the sync operation to cancel.
      responses:
        '200':
          description: 'Returns {success: false, error: "invalid_arqgs", msg: "Invalid dst_id."} when the destination instance
            is invalid, or {success: false, error: "invalid_args", msg: "Remote instance does not have an open port"} when
            path is unavailable.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True when cancel command was sent
                  error:
                    type: string
                    description: Error code if success is false
                  msg:
                    type: string
                    description: Human-readable message
              example:
                success: true
