openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/users/save-context/:
    put:
      summary: Save User Session Context
      tags:
      - Accounts
      description: Switches the active session to operate under the context and permissions of a specified API key, enabling
        team context switching.
      security:
      - BearerAuth: []
      x-scope: user_read
      x-rateLimit: 2
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                context_key_id:
                  type: integer
                  description: ID of the API key whose rights and permissions the session should adopt
                  example: 42
      responses:
        '200':
          description: 'Returns {success: true, msg: "Session Context Updated", rights_id, rights} on successful context switch.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the context switch succeeded
                  msg:
                    type: string
                    description: Human-readable confirmation message
                  rights_id:
                    type: integer
                    description: ID of the newly active rights record
                  rights:
                    type: object
                    description: Full permissions object for the new context
              example:
                success: true
                msg: Session Context Updated
                rights_id: 42
                rights:
                  api: {}
        '400':
          description: Missing "context_key_id" parameter ("missing_params"), key is not a session key ("invalid_key_type"),
            no keys found for given ID ("invalid_context"), or TFA required to switch context ("tfa_required").
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Caller is not authenticated (no valid session).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
