openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/template/:
    delete:
      summary: Delete Template
      tags:
      - Templates
      description: Soft-deletes a template owned by the authenticated user, provided no other users currently have an active
        relationship to it.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 2
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                template_id:
                  type: integer
                  description: Numeric ID of the template to delete (not hash_id)
      responses:
        '200':
          description: 'Returns {success: true, msg: "Template {id} Deleted Successfully"}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success
                  msg:
                    type: string
                    description: E.g. "Template 123 Deleted Successfully"
              example:
                success: true
                msg: Template 42 Deleted Successfully
        '400':
          description: 'Missing or non-integer template_id: {success: false, msg: "Invalid Template ID or User ID"} or "Template
            ID must be integer"; or other users still use the template: "Cannot Delete Template. Other Users are still using
            it."'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 'Authenticated user is not the template creator: {success: false, msg: "Templates can ONLY be Deleted
            by their Creator"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
