openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/webhooks/{id}/rotate-secret/:
    post:
      summary: Rotate Webhook Secret
      tags:
      - Accounts
      description: Rotate the signing secret for one of the caller's webhooks; the new secret is returned once and the prior
        secret is invalidated immediately.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 2.0
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier of the webhook whose signing secret is being rotated.
      responses:
        '200':
          description: 'Success; returns {success: true, webhook: object} where webhook includes the new webhook_secret (revealed
            once only)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success.
                  webhook:
                    type: object
                    description: The webhook object with id, user_id, name, webhook_url, event_types, created_at, updated_at,
                      and the new webhook_secret.
                    properties:
                      id:
                        type: integer
                        description: Webhook ID.
                      user_id:
                        type: integer
                        description: Owning user ID.
                      name:
                        type: string
                        description: Optional display name.
                      webhook_url:
                        type: string
                        description: The HTTPS endpoint URL.
                      event_types:
                        type: array
                        items:
                          type: string
                        description: Subscribed event type slugs.
                      created_at:
                        type: number
                        description: Unix timestamp of creation.
                      updated_at:
                        type: number
                        description: Unix timestamp of last update.
                      webhook_secret:
                        type: string
                        description: New signing secret; returned only at rotation time.
        '404':
          description: 'Webhook not found; returns {success: false, msg: ''Webhook not found''}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
