openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/s3/readme/:
    post:
      summary: Upload S3 Readme
      tags:
      - Templates
      description: Uploads a README markdown file using the provided hash as its identifier.
      security: []
      x-rateLimit: 2
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                readme:
                  type: string
                  description: Markdown content of the README to upload.
                  example: '# My Template

                    Description here.'
                s3_hash:
                  type: string
                  description: Content hash used as the S3 storage key; must contain only alphanumeric characters, hyphens,
                    underscores, equals signs, commas, asterisks.
                  example: abc123
      responses:
        '200':
          description: 'Development environment: {"success": false, "error": "not_allowed", "msg": "Not allowed"}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    description: '"Saved README to S3"'
                  result:
                    type: object
                    description: S3 PutObject response metadata
        '415':
          description: 'Invalid s3_hash parameter: {"success": false, "error": "not_allowed", "msg": "Not allowed"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
