openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/subaccounts/:
    get:
      summary: List Subaccounts
      tags:
      - Accounts
      description: Returns all subaccounts owned by the authenticated user, including their derived API keys.
      security:
      - BearerAuth: []
      x-scope: user_read
      x-rateLimit: 2.1
      responses:
        '200':
          description: 'List of subaccount user objects: {"users": [...], "msg": <optional warning>}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    description: Formatted user profile objects for each subaccount
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Subaccount user ID
                        email:
                          type: string
                          description: Subaccount email
                        api_key:
                          type: string
                          description: Derived API key or placeholder message
                        balance:
                          type: number
                          description: Subaccount balance (USD)
                  msg:
                    type: string
                    description: Optional warning when some derived keys could not be returned
        '400':
          description: 'Subaccount access not approved: "You are not approved to access subaccount APIs"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: 'Admin override not allowed: "You may not access this API while overridden"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
