openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/instances/{id}/ssh/{key}/:
    delete:
      summary: Delete Instance SSH Key
      tags:
      - Instances
      description: Removes an SSH key from the specified instance by key ID.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Instance contract ID from which to remove the SSH key.
      - name: key
        in: path
        required: true
        schema:
          type: integer
        description: ID of the SSH key record to remove from the instance.
      responses:
        '200':
          description: 'Returns {success: false, error: "no_such_ssh_key", msg: "SSH key not found."} when the key ID doesn''t
            exist, or {success: false, error: "no_such_instance"} when instance not owned by caller.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True when key was removed
                  msg:
                    type: string
                    description: Human-readable message
              example:
                success: true
                msg: SSH key removed from instance.
