openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/instances/recycle/{id}/:
    put:
      summary: Recycle Instance
      tags:
      - Instances
      description: Stops and removes the container for an instance then re-provisions it from its template.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the instance to recycle
      responses:
        '200':
          description: 'Returns {success: true} on successful recycle initiation, or {success: false, error: "invalid_id",
            msg: "Invalid instance id."} when the instance or container is not found.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True when recycle was initiated
                  error:
                    type: string
                    description: Error code if success is false
                  msg:
                    type: string
                    description: Human-readable message
              example:
                success: true
