openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/machine_up/set_info/:
    put:
      summary: Update Machine System Info
      tags:
      - Machines
      description: Updates system software version fields (driver, kernel, Ubuntu, Docker, etc.) for a machine.
      security:
      - BearerAuth: []
      x-scope: machine_write
      x-rateLimit: 1.5
      responses:
        '200':
          description: 'Returns {success: true, you_sent} on success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the operation succeeded
                  you_sent:
                    type: object
                    description: Echo of the request body
              example:
                success: true
                you_sent:
                  driver_version: 535.104.05
                  ubuntu_version: '22.04'
                  kernel_version: 5.15.0
        '404':
          description: '"No such machine id" when no machine matches the provided machine API key'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
