openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/metrics/gpu/current/:
    get:
      summary: Get Current GPU Supply Snapshot
      tags:
      - Machines
      description: Returns a current point-in-time snapshot of all GPU types with counts, utilization, and pricing percentiles.
      security:
      - BearerAuth: []
      x-scope: machine_read
      x-rateLimit: 2.0
      parameters:
      - name: verified
        in: query
        required: false
        description: Filter by verification status
        schema:
          type: string
          enum:
          - 'yes'
          - 'no'
          - all
          default: 'yes'
      - name: hosting_type
        in: query
        required: false
        description: Filter by hosting type
        schema:
          type: string
          enum:
          - all
          - secure_cloud
          - community
          default: all
      - name: num_gpus
        in: query
        required: false
        description: GPU count bucket or "all" for true population
        schema:
          type: string
          default: all
      responses:
        '200':
          description: 'Success. Returns `{success: true, gpus: [{gpu_name, total, available, rented_verified, avail_verified,
            rented_unverified, avail_unverified, usage, usage_30d, dlperf, tflops, price_p10, price_p25, price_median, price_p75,
            price_p90, tflops_per_dollar, dlperf_per_dollar}]}`. If the user is a host with no active machines, returns `{success:
            true, gpus: [], needs_machine: true}`.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success
                  needs_machine:
                    type: boolean
                    description: True when the caller is a host with no active machines; gpus will be empty
                  gpus:
                    type: array
                    description: One entry per GPU type with >= 10 total GPUs, sorted by total descending
                    items:
                      type: object
                      properties:
                        gpu_name:
                          type: string
                          description: GPU model name, e.g. 'RTX 4090'
                        total:
                          type: integer
                          description: Total machine/rig count
                        available:
                          type: integer
                          description: Available (unrented) machine count
                        rented_verified:
                          type: integer
                          description: Rented verified machine count
                        avail_verified:
                          type: integer
                          description: Available verified machine count
                        rented_unverified:
                          type: integer
                          description: Rented unverified machine count
                        avail_unverified:
                          type: integer
                          description: Available unverified machine count
                        total_gpus:
                          type: integer
                          description: Raw total GPU count
                        available_gpus:
                          type: integer
                          description: Raw available GPU count
                        rented_verified_gpus:
                          type: integer
                          description: Raw rented verified GPU count
                        avail_verified_gpus:
                          type: integer
                          description: Raw available verified GPU count
                        rented_unverified_gpus:
                          type: integer
                          description: Raw rented unverified GPU count
                        avail_unverified_gpus:
                          type: integer
                          description: Raw available unverified GPU count
                        bucket_size:
                          type: integer
                          description: GPUs per rig for the queried num_gpus bucket; 1 when num_gpus=all
                        usage:
                          type: number
                          description: Current utilization percentage (0-100)
                        usage_30d:
                          type: number
                          description: 30-day average utilization percentage
                        dlperf:
                          type: number
                          description: 90th-percentile deep-learning performance score
                        tflops:
                          type: number
                          description: 90th-percentile TFLOPS
                        price_p10:
                          type: number
                          description: 10th-percentile rental price per GPU-hour
                        price_p25:
                          type: number
                          description: 25th-percentile rental price per GPU-hour
                        price_median:
                          type: number
                          description: Median rental price per GPU-hour
                        price_p75:
                          type: number
                          description: 75th-percentile rental price per GPU-hour
                        price_p90:
                          type: number
                          description: 90th-percentile rental price per GPU-hour
                        tflops_per_dollar:
                          type: number
                          description: TFLOPS divided by median price (performance/dollar)
                        dlperf_per_dollar:
                          type: number
                          description: DL performance divided by median price
              example:
                success: true
                gpus:
                - gpu_name: RTX 4090
                  total: 1200
                  available: 400
                  rented_verified: 650
                  avail_verified: 300
                  rented_unverified: 150
                  avail_unverified: 100
                  total_gpus: 1200
                  available_gpus: 400
                  rented_verified_gpus: 650
                  avail_verified_gpus: 300
                  rented_unverified_gpus: 150
                  avail_unverified_gpus: 100
                  bucket_size: 1
                  usage: 66.7
                  usage_30d: 64.2
                  dlperf: 72.3
                  tflops: 82.6
                  price_p10: 0.29
                  price_p25: 0.35
                  price_median: 0.45
                  price_p75: 0.59
                  price_p90: 0.74
                  tflops_per_dollar: 183.6
                  dlperf_per_dollar: 160.7
        '400':
          description: Invalid query parameter. "verified must be 'yes', 'no', or 'all'" or "hosting_type must be 'all', 'secure_cloud',
            or 'community'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: 'Caller is not a host or admin: "Host or admin access required"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
