openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/workergroups/:
    get:
      summary: List Workergroups
      tags:
      - Serverless
      description: Returns all active workergroups belonging to the authenticated user; alias for GET /api/v0/autojobs/.
      security: []
      x-rateLimit: 2
      responses:
        '200':
          description: 'Returns {success: true, results: [{id, min_load, target_util, cold_mult, cold_workers, template_hash,
            template_id, search_query, launch_args, gpu_ram, endpoint_name, endpoint_id, api_key, created_at, user_id}, ...]}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success.
                  results:
                    type: array
                    description: 'List of workergroup objects with fields: id, min_load, target_util, cold_mult, cold_workers,
                      template_hash, template_id, search_query, launch_args, gpu_ram, endpoint_name, endpoint_id, api_key,
                      created_at, user_id.'
                    items:
                      type: object
