openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/users/cloud/:
    delete:
      summary: Delete Cloud Connection
      tags:
      - Accounts
      description: Removes a linked cloud storage connection from the authenticated user's account by connection ID.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 2.9
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: ID of the cloud connection to remove.
                  example: 42
      responses:
        '200':
          description: 'Success: {"success": true, "msg": "Deleted Connection"}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true
                  msg:
                    type: string
                    description: '"Deleted Connection"'
              example:
                success: true
                msg: Deleted Connection
        '400':
          description: 'Bad request: {"success": false, "msg": "Missing param: id"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'Not found or not authorized: {"success": false, "msg": "Cloud Connection Not Found"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
