openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/team/roles/:
    post:
      summary: Add Team Role
      tags:
      - Team
      description: Creates a new custom role with specified permissions for the current team.
      security:
      - BearerAuth: []
      x-scope: team_write
      x-rateLimit: 2
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name for the new role
                  example: developer
                permissions:
                  type: object
                  description: JSON object containing permission definitions
      responses:
        '200':
          description: '{"msg": "success"}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    description: '"success" on successful creation'
              example:
                msg: success
        '400':
          description: Role name must be 2-50 characters; missing required params name/permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Only team accounts can create team roles; duplicate role name; caller lacks permissions to create role
            with given rights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
