openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/machines/{machine_id}/:
    get:
      summary: Get Machine Details
      tags:
      - Machines
      description: Returns detailed information for a single machine owned by the authenticated host, including GPU, CPU,
        disk, network, job stats, and listing info.
      security:
      - BearerAuth: []
      x-scope: machine_read
      x-rateLimit: 1.1
      parameters:
      - name: machine_id
        in: path
        required: true
        schema:
          type: integer
        description: The ID of the machine to retrieve details for.
      responses:
        '200':
          description: Returns a list with one machine object containing full machine details
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                description: List containing one machine detail object with hardware, pricing, rental, and status fields
        '400':
          description: 'Missing or invalid machine_id: "Missing or invalid machine_id: ''{machine_id}''"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
