openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/secrets/:
    delete:
      summary: Delete User Secret
      tags:
      - Accounts
      description: Deletes an existing environment variable secret by key from the authenticated user's account.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                  description: Name of the environment variable to delete
                  example: MY_API_KEY
      responses:
        '200':
          description: 'Success: {"success": true, "msg": "Environment variable deleted successfully"}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true
                  msg:
                    type: string
                    description: Confirmation message
              example:
                success: true
                msg: Environment variable deleted successfully
        '400':
          description: 'Bad request: "''key'' required." or "Environment variable not found" (key does not exist)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
