openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/workergroups/{id}/:
    put:
      summary: Update Workergroup
      tags:
      - Serverless
      description: Updates scaling parameters, template, search params, or launch args on an existing workergroup; alias for
        PUT /api/v0/autojobs/{id}/.
      security: []
      x-rateLimit: 2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: The ID of the workergroup to update.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                min_load:
                  type: number
                  description: Minimum load for the workergroup.
                  example: 1.0
                target_util:
                  type: number
                  description: Target utilization for the workergroup.
                  example: 0.9
                cold_mult:
                  type: number
                  description: Cold multiplier for the workergroup.
                  example: 3.0
                test_workers:
                  type: integer
                  description: Number of test workers for performance estimation.
                  default: 3
                  example: 3
                template_hash:
                  type: string
                  description: Template hash for the workergroup.
                  example: abc123def456
                template_id:
                  type: integer
                  description: Template ID for the workergroup.
                  example: 456
                search_params:
                  type: string
                  description: Search parameters for offers (JSON object or query string).
                  default: verified=true rentable=true rented=false
                  example: gpu_name=RTX_3090 rentable=true
                launch_args:
                  type: string
                  description: Launch arguments for creating instances.
                  example: --env VAR=value
                gpu_ram:
                  type: number
                  description: Estimated GPU RAM requirement.
                  example: 24
                endpoint_name:
                  type: string
                  description: Deployment endpoint name.
                  example: vLLM-Qwen3-8B
                endpoint_id:
                  type: integer
                  description: Deployment endpoint ID.
                  example: 123
      responses:
        '200':
          description: 'Returns {success: true}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success.
              example:
                success: true
        '400':
          description: 'Invalid arguments: missing endpoint_id, deployment-owned workergroup, endpoint not found, workergroup
            not found, or invalid search_params'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Host-only accounts cannot update workergroups or use serverless
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
