openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/webhooks/:
    get:
      summary: List User Webhooks
      tags:
      - Accounts
      description: List the authenticated user's webhook URLs.
      security:
      - BearerAuth: []
      x-scope: user_read
      x-rateLimit: 2.0
      responses:
        '200':
          description: 'Success; returns {success: true, webhooks: list} where each webhook has id, user_id, name, webhook_url,
            event_types, created_at, updated_at'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success.
                  webhooks:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Webhook ID.
                        user_id:
                          type: integer
                          description: Owning user ID.
                        name:
                          type: string
                          description: Optional display name.
                        webhook_url:
                          type: string
                          description: The HTTPS endpoint URL.
                        event_types:
                          type: array
                          items:
                            type: string
                          description: Subscribed event type slugs.
                        created_at:
                          type: number
                          description: Unix timestamp of creation.
                        updated_at:
                          type: number
                          description: Unix timestamp of last update.
                    description: List of the user's webhook registrations.
              example:
                success: true
                webhooks:
                - id: 42
                  user_id: 1001
                  name: My Webhook
                  webhook_url: https://example.com/vastai-events
                  event_types:
                  - low_disk_space
                  - near_end_date
                  created_at: 1700000000
                  updated_at: 1700000000
