openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/team/roles-full/:
    get:
      summary: List Team Roles Full
      tags:
      - Team
      description: Returns all active team roles with their full permission sets, identifiers, and IDs (excludes owner role).
      security:
      - BearerAuth: []
      x-scope: team_read
      x-rateLimit: 2
      responses:
        '200':
          description: Array of role objects with name, permissions, identifier, and id fields
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: Unique role identifier
                    name:
                      type: string
                      description: Role display name
                    permissions:
                      type: object
                      description: Permission set granted by this role
                    identifier:
                      type: string
                      description: System identifier such as 'team_manager', or null for custom roles
              example:
              - id: 7
                name: team_manager
                permissions: {}
                identifier: team_manager
