openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/instances/:
    delete:
      summary: Delete Instances Bulk
      tags:
      - Instances
      description: Permanently deletes multiple instances by ID, refunding any prepay deposits and cleaning up associated
        resources.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 3
      responses:
        '200':
          description: Returns deletion result object with success status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True when deletion succeeded
              example:
                success: true
        '400':
          description: 'Returns {error: "invalid_args", msg: "instance_ids array is required"} when instance_ids is empty,
            or {error: "invalid_args", msg: "invalid request format"} for bad JSON.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'Returns {error: "instances_not_found", msg: "Instances <ids> not found."} when none of the specified
            instances belong to the user.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
