openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/stripe-connect-redirect/:
    get:
      summary: Get Stripe Express Dashboard Link
      tags:
      - Billing
      description: Returns a one-time Stripe Express dashboard login link URL for the authenticated host user.
      security: []
      x-rateLimit: 0.3
      responses:
        '200':
          description: 'Success; returns {"path": "<stripe_dashboard_url>"}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  path:
                    type: string
                    description: One-time Stripe Express dashboard login URL.
                required:
                - path
              example:
                path: https://dashboard.stripe.com/express/login/...
        '400':
          description: 'Stripe account not connected; message: "Stripe not connected for this user", or Stripe InvalidRequestError
            with message string'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: 'Stripe rate limit hit; message: "Stripe rate limit, try again"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: 'Stripe error creating login link; message: "Stripe error creating login link"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'Unexpected server error; message: "Unexpected error"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
