openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/team/:
    put:
      summary: Update Team
      tags:
      - Team
      description: Updates the display name of the current team account.
      security:
      - BearerAuth: []
      x-scope: team_write
      x-rateLimit: 2
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                team_name:
                  type: string
                  description: New unique name to assign to the team.
                  example: new-team-name
      responses:
        '200':
          description: 'Success: {"success": true, "msg": "Team Name Updated Successfully!"}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success
                  msg:
                    type: string
                    description: Human-readable confirmation message
              example:
                success: true
                msg: Team Name Updated Successfully!
        '400':
          description: '"Team name already exists"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: '"User is not a team account"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
