openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/users/:
    put:
      summary: Update Current User
      tags:
      - Accounts
      description: Update profile fields (SSH key, email, password, payout settings, etc.) for the authenticated user.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 5
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                normalized_email:
                  type: string
                  description: Normalized email address.
                  example: user@example.com
                username:
                  type: string
                  description: Username of the user.
                  example: johndoe
                fullname:
                  type: string
                  description: Full name of the user.
                  example: John Doe
      responses:
        '200':
          description: Updated user object returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: User ID
                  username:
                    type: string
                    description: Username
                  email:
                    type: string
                    description: Email address
                  ssh_key:
                    type: string
                    description: Default SSH public key
                  balance:
                    type: number
                    description: Account credit balance (USD)
                  email_verified:
                    type: boolean
                    description: Whether the email has been verified
                  paypal_email:
                    type: string
                    description: PayPal payout email
                  wise_email:
                    type: string
                    description: Wise payout email
                  has_payout:
                    type: boolean
                    description: Whether a payout method is configured
        '400':
          description: 'Conflict with another user: "Information conflicts with another user"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: 'Field restricted to host users: "Field ''<name>'' is only available to host users"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
