openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/user/earnings/data:
    get:
      summary: Get Earnings Data
      tags:
      - Accounts
      description: Get user earnings data (referral & machine), given a date range.
      security:
      - BearerAuth: []
      x-scope: billing_read
      x-rateLimit: 1.9
      responses:
        '200':
          description: 'Success: {"success": true, "machine_earnings": {...}, "referral_earnings": [...], "referral_count":
            [...]}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true
                  machine_earnings:
                    type: object
                    description: Machine earnings with summary, per_machine, and per_day breakdowns
                  referral_earnings:
                    type: array
                    items:
                      type: object
                    description: Per-day referral earnings records with day and earn_referral fields
                  referral_count:
                    type: array
                    items:
                      type: object
                    description: Per-day referral count records with day and referral_count fields
