openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/machines/{machine_id}/reports:
    get:
      summary: List Machine Reports
      tags:
      - Machines
      description: Returns the 20 most recent problem reports for the specified machine, accessible only to the machine owner.
      security:
      - BearerAuth: []
      x-scope: machine_read
      x-rateLimit: 1.2
      parameters:
      - name: machine_id
        in: path
        required: true
        schema:
          type: integer
        description: The unique identifier of the machine.
      responses:
        '200':
          description: Array of report objects each containing problem, message, and created_at fields
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    problem:
                      type: string
                      description: Category of the reported problem
                    message:
                      type: string
                      description: Free-text details provided by the reporter
                    created_at:
                      type: number
                      description: Unix timestamp when the report was created
              example:
              - problem: Machine Performance Is Less Than Expected
                message: GPU utilization is inconsistent.
                created_at: 1717632000
