openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/team/roles/{id}/:
    get:
      summary: Get Team Role
      tags:
      - Accounts
      description: Returns the id, name, and permissions for a specific team role by name.
      security:
      - BearerAuth: []
      x-scope: team_read
      x-rateLimit: 2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Name of the team role
      responses:
        '200':
          description: Role object with id, name, and permissions fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Unique role identifier
                  name:
                    type: string
                    description: Role display name
                  permissions:
                    type: object
                    description: Permission set granted by this role
              example:
                id: 7
                name: developer
                permissions: {}
        '404':
          description: '"Role not found"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
