openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/instances/pending-price-increases/:
    get:
      summary: List Pending Price Increases
      tags:
      - Instances
      description: Returns the list of pending host-requested price increases awaiting the authenticated user's response.
      security:
      - BearerAuth: []
      x-scope: instance_read
      x-rateLimit: 2.0
      responses:
        '200':
          description: 'Returns {success: true, count, pending_price_increases: [...], truncated} with up to PENDING_LIST_LIMIT
            items.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True on success
                  count:
                    type: integer
                    description: Number of pending items returned
                  pending_price_increases:
                    type: array
                    items:
                      type: object
                      properties:
                        pending_price_increase_id:
                          type: integer
                          description: Unique ID of the pending record
                        contract_id:
                          type: integer
                          description: Instance contract ID
                        host_id:
                          type: integer
                          description: Host user ID proposing the increase
                        new_gpu_costpersec:
                          type: number
                          description: Proposed new GPU cost per second
                        new_disk_ram_costpersec:
                          type: number
                          description: Proposed new disk/RAM cost per second
                        old_gpu_costpersec:
                          type: number
                          description: Current GPU cost per second
                        old_disk_ram_costpersec:
                          type: number
                          description: Current disk/RAM cost per second
                        contract_end_date:
                          type: number
                          description: Unix timestamp when the contract expires
                        ask_end_date:
                          type: number
                          description: Unix timestamp when the offer expires
                        created_at:
                          type: number
                          description: Unix timestamp when the pending record was created
                    description: Array of pending price increase objects
                  truncated:
                    type: boolean
                    description: True if the result was truncated due to limit
