openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/team/:
    delete:
      summary: Delete Team
      tags:
      - Team
      description: Permanently deletes the current team account, refunding remaining credit to the owner.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 2
      responses:
        '200':
          description: 'Success: {"success": true, "msg": "Team Successfully Deleted!", "pkey_id": <primary_key_id>}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success
                  msg:
                    type: string
                    description: Human-readable confirmation message
                  pkey_id:
                    type: integer
                    description: Primary API key ID of the team owner after deletion
              example:
                success: true
                msg: Team Successfully Deleted!
                pkey_id: 12345
        '403':
          description: '"Only the Team''s Owner may delete the team"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: '"Cannot Delete Team: User is not a team account" or "Team owner not found"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
