openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/deployment/{id}/:
    get:
      summary: Get Deployment
      tags:
      - Serverless
      description: Returns the configuration and current version details for a single deployment by ID.
      security:
      - BearerAuth: []
      x-scope: instance_read
      x-rateLimit: 2.0
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Deployment ID
      responses:
        '200':
          description: 'Returns {success: true, deployment: {id, name, tag, endpoint_id, endpoint_state, s3_key, env, image,
            storage, search_params, file_hash, current_version_id, last_healthy_version_id, ttl, last_client_heartbeat, created_at,
            updated_at}}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success.
                  deployment:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: Deployment ID.
                      name:
                        type: string
                        description: Deployment name.
                      tag:
                        type: string
                        description: Deployment tag.
                      endpoint_id:
                        type: integer
                        description: ID of the associated endpoint.
                      endpoint_state:
                        type: string
                        description: Current state of the associated endpoint.
                      s3_key:
                        type: string
                        description: S3 key of the current blob.
                      env:
                        type: string
                        description: Environment variable string.
                      image:
                        type: string
                        description: Docker image for workers.
                      storage:
                        type: number
                        description: Disk storage in GB.
                      search_params:
                        type: string
                        description: Machine search filter string.
                      file_hash:
                        type: string
                        description: Hash of the current blob.
                      current_version_id:
                        type: integer
                        description: ID of the active version.
                      last_healthy_version_id:
                        type: integer
                        description: ID of the last known-good version.
                      ttl:
                        type: number
                        description: Auto-expiry TTL in seconds; null means no auto-expiry.
                      last_client_heartbeat:
                        type: number
                        description: Unix timestamp of last heartbeat.
                      created_at:
                        type: number
                        description: Unix timestamp of creation.
                      updated_at:
                        type: number
                        description: Unix timestamp of last update.
        '400':
          description: '"Invalid deployment ID"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: '"Deployment {deployment_id} not found."'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
