openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/users/current/:
    get:
      summary: Get Current User
      tags:
      - Accounts
      description: Returns the profile of the currently authenticated user, including their API key and account details.
      security:
      - BearerAuth: []
      x-scope: user_read
      x-rateLimit: 2
      responses:
        '200':
          description: Formatted user object including sid (server ID)
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: User ID
                  username:
                    type: string
                    description: Username
                  email:
                    type: string
                    description: Email address
                  balance:
                    type: number
                    description: Account credit balance (USD)
                  credit:
                    type: number
                    description: Promotional credit (USD)
                  api_key:
                    type: string
                    description: API key (for subaccounts)
                  key_id:
                    type: integer
                    description: Active API key ID
                  ssh_key:
                    type: string
                    description: Default SSH public key
                  email_verified:
                    type: boolean
                    description: Whether the email has been verified
                  can_pay:
                    type: boolean
                    description: Whether a payment method is on file
                  has_billing:
                    type: boolean
                    description: Whether a Stripe payment method exists
                  has_payout:
                    type: boolean
                    description: Whether a payout method is configured
                  host_only:
                    type: boolean
                    description: Whether this is a host-only account
                  sid:
                    type: string
                    description: Server identifier
        '401':
          description: Not authenticated or session expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
