openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/deployments/:
    get:
      summary: List Deployments
      tags:
      - Serverless
      description: Returns all active deployments for the authenticated user with their configuration and current version
        info.
      security:
      - BearerAuth: []
      x-scope: instance_read
      x-rateLimit: 2.0
      responses:
        '200':
          description: 'Returns {success: true, deployments: [{id, name, tag, endpoint_id, s3_key, env, image, storage, file_hash,
            search_params, current_version_id, last_healthy_version_id, ttl, last_client_heartbeat, created_at, updated_at},
            ...]}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success.
                  deployments:
                    type: array
                    description: List of deployment objects.
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Deployment ID.
                        name:
                          type: string
                          description: Deployment name.
                        tag:
                          type: string
                          description: Deployment tag (e.g. default).
                        endpoint_id:
                          type: integer
                          description: ID of the associated endpoint.
                        s3_key:
                          type: string
                          description: S3 key of the current deployment blob.
                        env:
                          type: string
                          description: Environment variable string for workers.
                        image:
                          type: string
                          description: Docker image for workers.
                        storage:
                          type: number
                          description: Disk storage size in GB.
                        file_hash:
                          type: string
                          description: Hash of the current deployment blob.
                        search_params:
                          type: string
                          description: Machine search filter string.
                        current_version_id:
                          type: integer
                          description: ID of the currently active version.
                        last_healthy_version_id:
                          type: integer
                          description: ID of the last known-good version.
                        ttl:
                          type: number
                          description: Time-to-live in seconds after last heartbeat; null means no auto-expiry.
                        last_client_heartbeat:
                          type: number
                          description: Unix timestamp of last client heartbeat.
                        created_at:
                          type: number
                          description: Unix timestamp of creation.
                        updated_at:
                          type: number
                          description: Unix timestamp of last update.
