openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/users/{user_id}/payment-methods/:
    get:
      summary: List Payment Methods
      tags:
      - Accounts
      description: Returns the list of active, non-deleted payment methods associated with the authenticated user.
      security:
      - BearerAuth: []
      x-scope: user_read
      x-rateLimit: 2
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The user whose payment methods are retrieved; use "current" for the authenticated user or a numeric user
          ID
      responses:
        '200':
          description: Array of active payment method objects for the user
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: Payment method ID
                    added:
                      type: number
                      description: Unix timestamp when the payment method was added
                    type:
                      type: string
                      description: Payment method type (e.g. card, ideal)
                    last4:
                      type: string
                      description: Last 4 digits of the card or account number
                    brand:
                      type: string
                      description: Card brand (e.g. visa, mastercard)
                    verified:
                      type: boolean
                      description: Whether the card has been verified with a successful payment
                    is_primary:
                      type: boolean
                      description: Whether this is the primary payment method for auto-billing
              example:
              - id: 42
                added: 1700000000
                type: card
                last4: '4242'
                brand: visa
                verified: true
                is_primary: true
