openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v1/templates/fetch-tags:
    post:
      summary: Fetch Image Tags
      tags:
      - Templates
      description: Fetch available tags for a Docker/NGC/OCI registry image, optionally using credentials for private repositories.
      security:
      - BearerAuth: []
      x-scope: user_read
      x-rateLimit: 2.0
      responses:
        '200':
          description: 'Success: returns {"success": true, "tags": [...]} with the list of tags, or {"success": false, "tags":
            [], "error": "No tags found"} when no tags exist.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: true when tags were found
                  tags:
                    type: array
                    items:
                      type: string
                    description: List of tag name strings for the requested image
                required:
                - success
                - tags
              example:
                success: true
                tags:
                - latest
                - v1.0
                - v1.1
        '400':
          description: 'Bad request: raised with {"success": false, "error": "invalid_args", "msg": "..."} for invalid image,
            server, username, or token; or {"success": false, "error": "registry_error", "msg": "..."} on upstream registry
            HTTP error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 'Unauthorized: authentication required; no authenticated user found for the request.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
