openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/team/members/{id}/roles/:
    post:
      summary: Add Team Member Role
      tags:
      - Team
      description: Assigns an existing team role to a team member who currently has no role.
      security:
      - BearerAuth: []
      x-scope: team_write
      x-rateLimit: 2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: User ID of the team member to assign the role to.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  description: Name of the role to assign; cannot be 'owner'.
                  example: developer
      responses:
        '200':
          description: '{"msg": "success"}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    description: '"success" on successful assignment'
              example:
                msg: success
        '400':
          description: Cannot assign owner role; member already has a role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Only team accounts can update member roles; caller lacks permissions to assign higher role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Role not found; team member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
