openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/instances/{id}/ssh/:
    put:
      summary: Update Instance SSH Key
      tags:
      - Instances
      description: Updates the public key value of an existing SSH key associated with the specified instance.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Instance contract ID on which to update the SSH key.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ssh_key_id:
                  type: integer
                  description: ID of the SSH key record to update.
                  example: 42
                ssh_key:
                  type: string
                  description: New public key string to set on the SSH key record.
                  example: ssh-rsa AAAAB3NzaC1yc2E...
      responses:
        '200':
          description: 'Returns {success: false, error: "no_such_instance"} if the instance is not found or not owned by the
            caller, or {success: false, error: "add_ssh_to_instance"} on unexpected error.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True when updated
                  msg:
                    type: string
                    description: Human-readable status message
                  key:
                    type: string
                    description: JSON-encoded updated SSH key object
              example:
                success: true
                msg: SSH key was updated.
                key: '{}'
