openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/webhooks/{id}/:
    delete:
      summary: Delete User Webhook
      tags:
      - Accounts
      description: Delete a webhook URL for the authenticated user.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 2.0
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier of the webhook to delete.
      responses:
        '200':
          description: 'Success; returns {success: true}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success.
              example:
                success: true
        '404':
          description: 'Webhook not found; returns {success: false, msg: ''Webhook not found''}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
