openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/webhooks/{id}/:
    put:
      summary: Update User Webhook
      tags:
      - Accounts
      description: Update an existing webhook for the authenticated user, changing its URL, event subscriptions, or display
        name.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 2.0
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier of the webhook to update.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                webhook_url:
                  type: string
                  description: New HTTPS destination URL for event delivery; must satisfy the same validation rules as creation.
                    Optional if event_types or name is provided.
                  example: https://example.com/new-hook
                event_types:
                  type: array
                  description: Replacement list of event slug subscriptions; must be non-empty if provided.
                  example:
                  - low_disk_space
                name:
                  type: string
                  description: New optional display label for the webhook (max 120 characters).
                  example: Updated name
      responses:
        '200':
          description: 'Success; returns {success: true, webhook: object, enabled_notification_preferences: list}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success.
                  webhook:
                    type: object
                    description: Updated webhook object with id, user_id, name, webhook_url, event_types, created_at, and
                      updated_at.
                    properties:
                      id:
                        type: integer
                        description: Webhook ID.
                      user_id:
                        type: integer
                        description: Owning user ID.
                      name:
                        type: string
                        description: Optional display name.
                      webhook_url:
                        type: string
                        description: The HTTPS endpoint URL.
                      event_types:
                        type: array
                        items:
                          type: string
                        description: Subscribed event type slugs.
                      created_at:
                        type: number
                        description: Unix timestamp of creation.
                      updated_at:
                        type: number
                        description: Unix timestamp of last update.
                  enabled_notification_preferences:
                    type: array
                    items:
                      type: string
                    description: Preference keys auto-enabled for webhook delivery as a result of this update.
        '400':
          description: 'Bad request; possible messages: ''At least one of webhook_url, event_types, or name is required'',
            URL/event_types validation errors, ''This webhook URL is already registered'''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'Webhook not found; returns {success: false, msg: ''Webhook not found''}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
