openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/instances/bid_price/{id}/:
    put:
      summary: Change Instance Bid Price
      tags:
      - Instances
      description: Updates the bid price for an interruptible instance contract.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 5.5
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Instance ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                  description: Client identifier (usually "me")
                  example: me
                price:
                  type: number
                  description: Bid price in $/hour
                  minimum: 0.001
                  maximum: 32.0
                  example: 0.17
              required:
              - client_id
              - price
      responses:
        '200':
          description: 'Returns {success: true} when the bid price is updated successfully.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True when updated
              example:
                success: true
        '400':
          description: 'Returns {error: "invalid_args", msg: "Can''t change price of on-demand contract."}, {error: "invalid_args",
            msg: "Please set a bid price >= 0.001."}, {success: false, msg: "Could not find contract."}, or {success: false,
            msg: "Could not find machine."}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'Returns {success: false, error: "no_such_instance", msg: "Instance with that ID does not exist."}
            with status 404.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
