openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/ssh/{id}/:
    delete:
      summary: Delete SSH Key
      tags:
      - Accounts
      description: Removes an SSH public key from the authenticated user's account by key ID.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the SSH key to delete
      responses:
        '200':
          description: 'Success: {"success": true}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true
              example:
                success: true
        '400':
          description: 'Bad request: {"success": false, "error": "no_ssh_key", "msg": "No ssh key provided"} (key not found
            or does not belong to user)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
