openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/oauth/services:
    get:
      summary: List OAuth Service Connections
      tags:
      - Accounts
      description: Returns lists of active and expired OAuth service integrations (e.g. Bitbucket, Jira) for the authenticated
        user, refreshing any expired tokens where possible.
      security:
      - BearerAuth: []
      x-scope: user_read
      x-rateLimit: 2
      responses:
        '200':
          description: 'Returns {success: true, active_services: [...], expired_services: [...]} listing connected OAuth service
            names by status.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success
                  active_services:
                    type: array
                    items:
                      type: string
                    description: List of service names (e.g. 'bitbucket', 'jira') with valid OAuth tokens
                  expired_services:
                    type: array
                    items:
                      type: string
                    description: List of service names whose OAuth tokens have expired and could not be refreshed
              example:
                success: true
                active_services:
                - bitbucket
                expired_services:
                - jira
