openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/commands/schedule_job/{id}/:
    delete:
      summary: Delete Scheduled Job
      tags:
      - Instances
      description: Deletes a scheduled job by ID, scoped to the authenticated user.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 3.5
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the scheduled job to delete (URL path parameter).
      responses:
        '200':
          description: 'Scheduled job deleted successfully; returns {success: true, msg: "Scheduled job <id> deleted successfully"}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success
                  msg:
                    type: string
                    description: Human-readable confirmation message
              example:
                success: true
                msg: Scheduled job 42 deleted successfully
        '400':
          description: 'Missing scheduled job ID; returns {error: "missing_input", msg: "scheduled_job''s id is required."}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'No scheduled job found with the given ID; returns {error: "not_found"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
