openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/users/{user_id}/machine-reports/:
    get:
      summary: List Machine Reports for User
      tags:
      - Accounts
      description: Returns problem reports submitted against the authenticated host user's machines, optionally filtered to
        unacknowledged reports with a configurable limit (max 100).
      security:
      - BearerAuth: []
      x-scope: machine_read
      x-rateLimit: 2.0
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the machine owner whose received reports are being listed.
      responses:
        '200':
          description: Array of report objects each containing report_id, machine_id, instance_id, problem, created_at, and
            acknowledged_at fields
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    report_id:
                      type: integer
                      description: Unique identifier of the report
                    machine_id:
                      type: integer
                      description: ID of the reported machine
                    instance_id:
                      type: integer
                      description: ID of the instance associated with the report
                    problem:
                      type: string
                      description: Category of the reported problem
                    created_at:
                      type: number
                      description: Unix timestamp when the report was created
                    acknowledged_at:
                      type: number
                      description: Unix timestamp when the report was acknowledged, or null if unacknowledged
              example:
              - report_id: 42
                machine_id: 1001
                instance_id: 5501
                problem: Instance Has Less Disk Space Than Requested
                created_at: 1717632000
                acknowledged_at: null
