openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/auth/apikeys/:
    post:
      summary: Create API Key
      tags:
      - Accounts
      description: Creates a new API key for the authenticated user with optional custom permissions and name, returning the
        unhashed key once.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 2
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name for the API key
                  example: read-only-key
                permissions:
                  type: object
                  description: JSON object containing permission definitions
                  example:
                    read: true
                    write: false
                key_params:
                  type: object
                  description: Optional wildcard parameters for advanced keys
                  example:
                    ip_whitelist:
                    - 1.2.3.4
              required:
              - name
      responses:
        '200':
          description: 'Returns {success: true, id, key, permissions} with the plaintext key (shown once only).'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the key was created
                  id:
                    type: integer
                    description: ID of the new API key
                  key:
                    type: string
                    description: Unhashed API key value — shown only once
                  permissions:
                    type: object
                    description: Permissions assigned to the new key
              example:
                success: true
                id: 99
                key: abc123...
                permissions:
                  api: {}
        '400':
          description: 'Returns {success: false, msg: "Failed to create API key."} on unexpected error error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: User is not authenticated, or not authorized to create a key for another user, or not authorized to
            create a key with the specified permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
