openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v1/machines/:
    get:
      summary: List Machines with Pagination
      tags:
      - Machines
      description: List machines for the host using keyset pagination.
      security:
      - BearerAuth: []
      x-scope: machine_read
      x-rateLimit: 2.0
      responses:
        '200':
          description: 'Returns {success, total_machines, machines_found, machines: [...], next_token} with paginated machine
            details'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success
                  total_machines:
                    type: integer
                    description: Total count of matching machines across all pages
                  machines_found:
                    type: integer
                    description: Number of machines returned in this page
                  machines:
                    type: array
                    items:
                      type: object
                    description: List of machine detail objects (same shape as /api/v0/machines/ items)
                  next_token:
                    type: string
                    description: Opaque keyset pagination cursor; null if no further pages
              example:
                success: true
                total_machines: 42
                machines_found: 25
                machines: []
                next_token: eyJpZCI6IDEyMzQ1fQ==
