openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/team/balances:
    get:
      summary: Get Team Balances
      tags:
      - Team
      description: Returns the credit balances for all teams the authenticated user is an active member of.
      security:
      - BearerAuth: []
      x-scope: user_read
      x-rateLimit: 2
      responses:
        '200':
          description: 'Success: {"success": true, "msg": "Team Balances Retrieved Successfully!", "balances": [{"team_id",
            "team_name", "balance"}]}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success
                  msg:
                    type: string
                    description: Human-readable confirmation message
                  balances:
                    type: array
                    description: One entry per team membership
                    items:
                      type: object
                      properties:
                        team_id:
                          type: integer
                          description: Unique identifier of the team
                        team_name:
                          type: string
                          description: Display name of the team
                        balance:
                          type: number
                          description: Spendable credit balance of the team
              example:
                success: true
                msg: Team Balances Retrieved Successfully!
                balances:
                - team_id: 42
                  team_name: my-team
                  balance: 25.5
        '404':
          description: '"No team memberships found"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
