openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/users/cloud/dropbox/start/:
    get:
      summary: Start Dropbox OAuth Flow
      tags:
      - Accounts
      description: Initiates the Dropbox OAuth authorization flow and returns the OAuth URL to redirect the user to.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 10
      responses:
        '200':
          description: 'Success: {"success": true, "oauth_url": str}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true
                  oauth_url:
                    type: string
                    description: Dropbox OAuth authorization URL to redirect the user to
        '400':
          description: 'Bad request: "Connection name must be at least 3 characters" or "Name cannot contain whitespaces or
            unauthorized characters"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'Internal server error: "Failed to initiate OAuth flow"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
