openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/users/{user_id}/payment-crypto-com/:
    post:
      summary: Add Credits via Crypto.com
      tags:
      - Accounts
      description: Creates a Crypto.com Pay payment session for the specified amount and records a pending invoice until payment
        is confirmed.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 3
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The user to credit; use "current" or a numeric user ID
      responses:
        '200':
          description: Returns the Crypto.com payment session object with charge details
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Crypto.com payment ID (transfer group reference)
        '400':
          description: 'Invalid amount: {"success": false, "error": "invalid_args", "msg": "invalid amount_cents"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
