openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/machines/:
    get:
      summary: List Host Machines
      tags:
      - Machines
      description: Returns all machines owned by the authenticated host, with aggregated GPU, CPU, disk, network, job stats,
        and listing information.
      security:
      - BearerAuth: []
      x-scope: machine_read
      x-rateLimit: 2.5
      parameters:
      - name: user_id
        in: query
        required: true
        description: The ID of the user whose machines are being requested.
        schema:
          type: string
      responses:
        '200':
          description: 'Returns {machines: [...]} with full machine details including GPU occupancy, pricing, job stats, and
            maintenance info'
          content:
            application/json:
              schema:
                type: object
                properties:
                  machines:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Machine ID
                        machine_id:
                          type: integer
                          description: Machine ID (duplicate field)
                        hostname:
                          type: string
                          description: Machine hostname
                        geolocation:
                          type: string
                          description: Physical location of the machine
                        timeout:
                          type: number
                          description: Seconds since machine was last active; 0 if currently online
                        num_gpus:
                          type: integer
                          description: Total number of GPUs
                        gpu_name:
                          type: string
                          description: GPU model name
                        gpu_ram:
                          type: number
                          description: GPU VRAM in bytes
                        cpu_name:
                          type: string
                          description: CPU model name
                        cpu_ram:
                          type: number
                          description: CPU RAM in bytes
                        cpu_cores:
                          type: integer
                          description: Number of CPU cores
                        listed:
                          type: boolean
                          description: Whether the machine has active offers
                        listed_gpu_cost:
                          type: number
                          description: Host-facing GPU price per hour when listed
                        listed_storage_cost:
                          type: number
                          description: Host-facing storage cost per month when listed
                        listed_volume_cost:
                          type: number
                          description: Host-facing volume cost per month when listed
                        listed_inet_up_cost:
                          type: number
                          description: Host-facing upload bandwidth cost when listed
                        listed_inet_down_cost:
                          type: number
                          description: Host-facing download bandwidth cost when listed
                        min_bid_price:
                          type: number
                          description: Minimum interruptible bid price per hour
                        gpu_occupancy:
                          type: string
                          description: Space-separated string of per-GPU occupancy codes (D/R/I/x)
                        disk_space:
                          type: number
                          description: Available disk space in bytes
                        inet_up:
                          type: number
                          description: Current upload bandwidth in Mbps
                        inet_down:
                          type: number
                          description: Current download bandwidth in Mbps
                        earn_hour:
                          type: number
                          description: Earnings in the last hour
                        earn_day:
                          type: number
                          description: Earnings in the last day
                        current_rentals_running:
                          type: integer
                          description: Number of currently running rentals
                        current_rentals_resident:
                          type: integer
                          description: Number of resident (loaded) rentals
                        reliability2:
                          type: number
                          description: Machine reliability score
                        public_ipaddr:
                          type: string
                          description: Machine's public IP address
                        driver_version:
                          type: string
                          description: GPU driver version
                        cuda_max_good:
                          type: string
                          description: Maximum supported CUDA version
                        hosting_type:
                          type: integer
                          description: Hosting type flag (e.g. 1 = datacenter)
                    description: List of machine detail objects
