openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/instances/reboot/{id}/:
    put:
      summary: Reboot Instance
      tags:
      - Instances
      description: Sends a stop-then-start command to reboot the specified running instance.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the instance to reboot
      responses:
        '200':
          description: 'Returns {success: true} on successful reboot initiation, or {success: false, error: "invalid_id",
            msg: "Invalid instance id. Is the container started?"} if the container is not running.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True when reboot was initiated
                  error:
                    type: string
                    description: Error code if success is false
                  msg:
                    type: string
                    description: Human-readable message
              example:
                success: true
        '400':
          description: 'Returns {success: false, error: "invalid_args", msg: "invalid instance_id"} when the instance doesn''t
            belong to the user or isn''t found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
