openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/autojobs/{id}/:
    delete:
      summary: Delete Autojob Workergroup
      tags:
      - Serverless
      description: Soft-deletes a workergroup by ID, terminating any associated worker instances; cascades to the parent deployment
        if one exists.
      security: []
      x-rateLimit: 3
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Numeric ID of the workergroup to delete.
      responses:
        '200':
          description: 'Returns {success: true}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success.
              example:
                success: true
        '400':
          description: 'Invalid arguments: "id must be an integer" or "Invalid autojob ID"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: '"No autojob by that id is available."'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
