openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/users/{user_id}:
    put:
      summary: Update User by ID
      tags:
      - Accounts
      description: Update profile fields for the authenticated user identified by user_id in the URL path.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 5
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the user to update; must match the authenticated caller's own user ID
      responses:
        '200':
          description: Updated user object returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: User ID
                  username:
                    type: string
                    description: Username
                  email:
                    type: string
                    description: Email address
                  ssh_key:
                    type: string
                    description: Default SSH public key
                  balance:
                    type: number
                    description: Account credit balance (USD)
                  email_verified:
                    type: boolean
                    description: Whether the email has been verified
        '400':
          description: Invalid field value or unhandled keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: user_id does not match authenticated user, or invalid ID format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
