openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/team/invite/{token}/:
    get:
      summary: Accept Team Invitation
      tags:
      - Team
      description: Accepts a team invitation using the token from the invitation email, adding the authenticated user to the
        team.
      security:
      - BearerAuth: []
      x-scope: user_read
      x-rateLimit: 3
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: Invitation token from the invite email that identifies and validates the invitation.
      responses:
        '200':
          description: 'Success: {"success": true, "msg": "Team Invite Accepted!"}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success
                  msg:
                    type: string
                    description: Human-readable confirmation message
              example:
                success: true
                msg: Team Invite Accepted!
        '400':
          description: '"That Role no longer exists. Contact team owner for new invite."'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
