openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/commands/rsync/:
    put:
      summary: Start Remote Rsync Copy
      tags:
      - Instances
      description: Initiates an rsync data copy between two instance containers using the specified source and destination
        paths.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 3.5
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                src_path:
                  type: string
                  description: Filesystem path on the source to copy from.
                  example: /workspace/data
                dst_path:
                  type: string
                  description: Filesystem path on the destination to copy to.
                  example: /workspace/data
      responses:
        '200':
          description: 'Returns {success: false, error: "invalid_args", msg: "Invalid src_path."} or "Invalid dst_path." when
            path validation fails.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True when operation was initiated or connection info returned
                  dst_port:
                    type: integer
                    description: Destination port for local-to-instance copies
                  dst_addr:
                    type: string
                    description: Destination IP address for local-to-instance copies
                  src_port:
                    type: integer
                    description: Source port for instance-to-local copies
                  src_addr:
                    type: string
                    description: Source IP address for instance-to-local copies
                  error:
                    type: string
                    description: Error code if success is false
                  msg:
                    type: string
                    description: Human-readable message
