openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/commands/copy_direct/:
    put:
      summary: Start Direct Copy
      tags:
      - Instances
      description: Initiates a direct data copy between instances, volumes, or cloud storage services.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 3.5
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                src_path:
                  type: string
                  description: Path of the source data.
                dst_path:
                  type: string
                  description: Path of the destination data.
                src_id:
                  type: string
                  description: ID of the source instance.
                dst_id:
                  type: string
                  description: ID of the destination instance.
      responses:
        '200':
          description: 'Returns {success: false, error: "unauthorized", msg: "You are not authorized to perform this action."}
            when user authentication is missing.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True when operation was initiated
                  error:
                    type: string
                    description: Error code if success is false
                  msg:
                    type: string
                    description: Human-readable message
              example:
                success: true
