openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/template/:
    post:
      summary: Create Template
      tags:
      - Templates
      description: Creates a new template for the authenticated user, or links an existing matching template to the user if
        it already exists.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 1.9
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  default: Example Template
                  description: Name of the template
                image:
                  type: string
                  default: vastai/base-image
                  description: Docker image path. Used when launching instances from this template.
                tag:
                  type: string
                  default: latest
                  description: 'Docker image tag specifying version of the image. Defaults to `latest`. Can also be included
                    in the `image` field instead.

                    '
                env:
                  type: string
                  description: 'Environment variables and port mappings in Docker flag format.


                    Example: `"-e HF_TOKEN=hf_xxx123456789 -e MODEL_ID=TheBloke/Llama-2-7B-Chat-GPTQ -p 8000:8000"`

                    '
                onstart:
                  type: string
                  description: "Commands to run when instance starts\n\nExample : `env | grep _ >> /etc/environment; echo\
                    \ 'starting up'` \n"
                runtype:
                  type: string
                  enum:
                  - ssh
                  - jupyter
                  - args
                  default: args
                  description: 'Launch mode for the instance. Defaults to `args`. Recommended - use `ssh` with `ssh_direct:
                    true` for reliable SSH access.

                    '
                ssh_direct:
                  type: boolean
                  description: Enable direct SSH connection
                jup_direct:
                  type: boolean
                  description: Enable direct Jupyter connection
                jupyter_dir:
                  type: string
                  description: 'Directory to launch Jupyter from


                    Example : `/home/notebooks`

                    '
                use_jupyter_lab:
                  type: boolean
                  description: Use JupyterLab instead of Jupyter Notebook
                docker_login_repo:
                  type: string
                  description: Name of the private Docker repo (i.e docker.io)
                docker_login_user:
                  type: string
                  description: Username for private Docker repo
                docker_login_pass:
                  type: string
                  description: Access token or password for private Docker repo.
                extra_filters:
                  type: object
                  description: 'Additional machine search filters. Example: `{"cuda_max_good": {"gte": 12.6}}`

                    '
                recommended_disk_space:
                  type: number
                  description: Recommended disk space in GB. Defaults to 8GB if not specified.
                desc:
                  type: string
                  description: Short description of the template
                readme:
                  type: string
                  description: Longer documentation/readme content for the template
                args_str:
                  type: string
                  description: Arguments string passed to the container entrypoint when runtype is `args`
                use_ssh:
                  type: boolean
                  description: Enable SSH access to instances created from this template
                href:
                  type: string
                  description: Link to Docker Hub or image documentation
                repo:
                  type: string
                  description: Repository identifier (e.g., `library/ubuntu`)
                private:
                  type: boolean
                  description: Whether the template is private (not publicly searchable)
                volume_info:
                  type: object
                  nullable: true
                  description: 'UI hint for volume configuration. Note: This does not affect instance creation - use `volume_info`
                    in the instance creation request to actually attach volumes.

                    '
                hash_id:
                  type: string
                  description: Content-based hash ID of the template. Can be included when editing but will change based on
                    new content.
              required:
              - name
              - image
            example:
              name: Example Template
              image: vastai/base-image
              tag: latest
              env: -e MY_VAR=value -p 8000:8000
              runtype: ssh
              ssh_direct: true
      responses:
        '200':
          description: 'New template created: {success: true, msg: "Template Created Successfully! New Template ID: ...",
            template}; or existing found: {success: false, msg: "Existing Template Found: ...", template}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True when created; false when an existing template was found
                  msg:
                    type: string
                    description: 'Describes outcome, e.g. ''Template Created Successfully! New Template ID: 123'' or ''Existing
                      Template Found: 123. User relationship added.'''
                  template:
                    type: object
                    description: The created or found template object (docker_login_pass masked)
        '400':
          description: 'Missing or invalid template name, invalid docker credentials, invalid column names, field exceeds
            max length, or creation failure; returns {success: false, error, msg}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
