openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/oauth/services:
    delete:
      summary: Delete OAuth Service Connection
      tags:
      - Accounts
      description: Disconnects and removes the user's OAuth integration for the specified service.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 2
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                service:
                  type: string
                  description: The OAuth service to disconnect; must be one of the supported provider names.
                  example: bitbucket
                  enum:
                  - bitbucket
                  - jira
      responses:
        '200':
          description: 'Returns {success: true, msg: "Deleted OAuth service <service> for user <user_id>"} on successful disconnection.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success
                  msg:
                    type: string
                    description: Confirmation message indicating which service was deleted
              example:
                success: true
                msg: Deleted OAuth service bitbucket for user 12345
        '400':
          description: 'Raised with {success: false, msg: "Missing service parameter"} if no service is provided, or {success:
            false, msg: "Unknown service <service>"} if the service name is not recognized.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
