openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/volumes/unlist:
    post:
      summary: Unlist Volume
      tags:
      - Volumes
      description: Removes a host's disk volume ask listing by ID, preventing further rentals of that volume.
      security:
      - BearerAuth: []
      x-scope: machine_write
      x-rateLimit: 5
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: ID of the volume listing to unlist
                  example: 2029
      responses:
        '200':
          description: 'Success; returns {"success": true, "msg": "Unlisted Volume <id>."}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success.
                  msg:
                    type: string
                    description: Confirmation message including the volume ID.
                required:
                - success
                - msg
              example:
                success: true
                msg: Unlisted Volume 9876.
        '400':
          description: 'Missing id, listing not found, or listing is active; message: "You must pass in `id` in the body of
            the request", "Volume listing does not exist", "Unable to delete active volume listing", or "Unable to delete
            volume listing."'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
