openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/users/{user_id}/verify-email/:
    post:
      summary: Resend Verification Email
      tags:
      - Accounts
      description: Resends the account verification and confirmation email to the specified user.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 2
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the user to resend the verification email for; must match the authenticated caller.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Email address to send the verification link to.
                  example: user@example.com
                username:
                  type: string
                  description: Username included in the verification email context.
                  example: myuser
      responses:
        '200':
          description: 'Success: {"success": true, "msg": "Verification Email Sent"}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true
                  msg:
                    type: string
                    description: '"Verification Email Sent"'
              example:
                success: true
                msg: Verification Email Sent
        '403':
          description: 'Forbidden: user does not match authenticated user'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
