openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/model_library/{slug}/:
    get:
      summary: Get model library detail
      tags:
      - Other
      description: Public fetch of one live model-library card by slug (404 if missing/soft-deleted).
      security: []
      x-rateLimit:
        threshold: 2
        redis_rate_limit_enabled: true
        token_bucket_enabled: true
        max_tokens: 1
        token_refresh_rate: 0.5
        penalty_tokens: 0
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
        description: The slug
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
