openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/users/root/:
    get:
      summary: Get Root User
      tags:
      - Accounts
      description: Returns user information for the owner of the provided API key, ignoring any active user override.
      security:
      - BearerAuth: []
      x-scope: user_read
      x-rateLimit: 2
      responses:
        '200':
          description: Formatted user object for the API key owner
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: User ID
                  username:
                    type: string
                    description: Username
                  email:
                    type: string
                    description: Email address
                  balance:
                    type: number
                    description: Account credit balance (USD)
                  api_key:
                    type: string
                    description: API key (for subaccounts)
                  key_id:
                    type: integer
                    description: Active API key ID
                  email_verified:
                    type: boolean
                    description: Whether the email has been verified
                  can_pay:
                    type: boolean
                    description: Whether a payment method is on file
        '401':
          description: 'Not authenticated: "Authorization Error. Check that you have proper privileges to perform this action."'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
