openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/template/params:
    get:
      summary: Get Template Field Limits
      tags:
      - Templates
      description: Returns the maximum allowed character lengths for each template field.
      security:
      - BearerAuth: []
      x-scope: user_read
      x-rateLimit:
        profile: low_volume_burst
        threshold: 2.0
      responses:
        '200':
          description: 'Returns {success: true, limits: {field_name: max_length, ...}}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true
                  limits:
                    type: object
                    description: Map of template field names to their maximum allowed character lengths
                    properties:
                      extra_filters:
                        type: integer
                      env:
                        type: integer
                      repo:
                        type: integer
                      desc:
                        type: integer
                      args_str:
                        type: integer
                      command:
                        type: integer
                      href:
                        type: integer
                      onstart:
                        type: integer
                      jupyter_dir:
                        type: integer
                      name:
                        type: integer
                      readme_hash:
                        type: integer
                      readme:
                        type: integer
                      image:
                        type: integer
                      docker_login_user:
                        type: integer
                      docker_login_pass:
                        type: integer
              example:
                success: true
                limits:
                  extra_filters: 1024
                  env: 4096
                  repo: 256
                  desc: 512
                  args_str: 256
                  command: 1024
                  href: 256
                  onstart: 16384
                  jupyter_dir: 256
                  name: 256
                  readme_hash: 256
                  readme: 32768
                  image: 1024
                  docker_login_user: 256
                  docker_login_pass: 4096
