openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/instances/{id}/:
    get:
      summary: Get Instance
      tags:
      - Instances
      description: Returns details for a single instance owned by the authenticated user.
      security:
      - BearerAuth: []
      x-scope: instance_read
      x-rateLimit: 2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: The instance (contract) ID to retrieve.
      responses:
        '200':
          description: 'Returns {instances: <instance object>} with full instance details including template name.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  instances:
                    type: object
                    description: Instance detail object, or null if not found
        '400':
          description: 'Returns {success: false, error: "invalid_args"} when the id is not a valid integer.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
