openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/users/{user_id}/referral-count/:
    get:
      summary: Get Referral Count
      tags:
      - Accounts
      description: Returns the number of referred users, referral credits earned, and referral balance for the specified user.
      security:
      - BearerAuth: []
      x-scope: user_read
      x-rateLimit: 2
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the user whose referral info to retrieve; must match the authenticated caller.
      responses:
        '200':
          description: 'Success: {"count": int, "referral_credits": float, "referral_balance": float}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: Number of users referred by this account
                  referral_credits:
                    type: number
                    description: Total referral credits earned
                  referral_balance:
                    type: number
                    description: Current referral balance
              example:
                count: 3
                referral_credits: 15
                referral_balance: 5
