openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/users/{user_id}/templates/autoscaler/:
    get:
      summary: List Autoscaler Templates
      tags:
      - Accounts
      description: Returns the user's autoscaler-enabled templates along with globally recommended autoscaler templates.
      security:
      - BearerAuth: []
      x-scope: instance_read
      x-rateLimit: 1.9
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the user whose autoscaler templates to retrieve (URL path parameter)
      responses:
        '200':
          description: 'Returns {success: true, autoscaler: [...], recommended: [...]}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true
                  autoscaler:
                    type: array
                    items:
                      type: object
                    description: The user's own autoscaler-enabled templates
                  recommended:
                    type: array
                    items:
                      type: object
                    description: Platform-recommended autoscaler templates
