openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/users/spend-rate/:
    get:
      summary: Get User Spend Rate
      tags:
      - Accounts
      description: Per-hour main-credit burn rate aggregated across the caller's active instances and volumes.
      security:
      - BearerAuth: []
      x-scope: user_read
      responses:
        '200':
          description: Per-hour spend rates broken down by GPU, container storage, and volume storage.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true
                  gpu_cost_per_hour:
                    type: number
                    description: Aggregated GPU cost per hour across running instances
                  container_storage_cost_per_hour:
                    type: number
                    description: Aggregated container disk storage cost per hour
                  volume_storage_cost_per_hour:
                    type: number
                    description: Aggregated network and local volume storage cost per hour
                  has_active_resources:
                    type: boolean
                    description: True if the user has any instances or volumes currently active
              example:
                success: true
                gpu_cost_per_hour: 1.25
                container_storage_cost_per_hour: 0.02
                volume_storage_cost_per_hour: 0.01
                has_active_resources: true
