openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/users/{user_id}/invoices/:
    get:
      summary: Get User Invoices
      tags:
      - Accounts
      description: Returns invoices and optionally instance charges for the specified user, filterable by date range and type.
      security:
      - BearerAuth: []
      x-scope: billing_read
      x-rateLimit: 2
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the user whose invoices to retrieve; must match the authenticated caller.
      responses:
        '200':
          description: 'Success: {"invoices": [...], "username": str, "bill_to": str, "email": str, "fullname": str, "address1":
            str, "address2": str, "city": str, "zip": str, "country": str, "taxinfo": str, "current": {"charges": float, "service_fee":
            float, "total": float, "credit": float}}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items:
                      type: object
                    description: Array of invoice or charge objects
                  username:
                    type: string
                    description: User's username
                  bill_to:
                    type: string
                    description: Formatted billing address string
                  email:
                    type: string
                    description: User's email address
                  fullname:
                    type: string
                    description: User's full name
                  address1:
                    type: string
                    description: Billing address line 1
                  address2:
                    type: string
                    description: Billing address line 2
                  city:
                    type: string
                    description: Billing city
                  zip:
                    type: string
                    description: Billing zip code
                  country:
                    type: string
                    description: Billing country
                  taxinfo:
                    type: string
                    description: Tax information
                  current:
                    type: object
                    description: Current balance summary with charges, service_fee, total, and credit fields
