openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/secrets/:
    post:
      summary: Add User Secret
      tags:
      - Accounts
      description: Adds one or more environment variable secrets to the authenticated user's account.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                  description: Environment variable key name (will be converted to uppercase)
                  example: API_TOKEN
                value:
                  type: string
                  description: Secret value to be encrypted and stored
                  example: abc123xyz
                env_vars:
                  type: array
                  description: Array of {key, value} objects for adding multiple secrets in a single request.
      responses:
        '200':
          description: 'Success: {"success": true, "msg": "Environment variables processed successfully"}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true
                  msg:
                    type: string
                    description: Confirmation message
              example:
                success: true
                msg: Environment variables processed successfully
        '400':
          description: 'Bad request: "Input must be a list", "Both ''key'' and ''value'' are required for single env edits...",
            or max secrets limit exceeded: "User has reached the limit of 16 environment variables."'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
