openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/team/members/:
    get:
      summary: List Team Members
      tags:
      - Team
      description: Returns all active members of the current team along with their assigned roles.
      security:
      - BearerAuth: []
      x-scope: team_read
      x-rateLimit: 2
      responses:
        '200':
          description: Array of member objects with id, username, email, fullname, and roles fields
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: User ID of the team member
                    username:
                      type: string
                      description: Username of the team member
                    email:
                      type: string
                      description: Email address of the team member
                    fullname:
                      type: string
                      description: Full name of the team member
                    roles:
                      type: array
                      items:
                        type: string
                      description: List of role names assigned to the member on this team
              example:
              - id: 101
                username: alice
                email: alice@example.com
                fullname: Alice Smith
                roles:
                - team_manager
