openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/users/{user_id}/templates/{hash_id}/:
    get:
      summary: Get Template by Hash
      tags:
      - Accounts
      description: Returns the template matching the given hash_id along with the user's saved templates, popular templates,
        recommended templates, and autoscaler templates.
      security:
      - BearerAuth: []
      x-scope: instance_read
      x-rateLimit: 1.9
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the requesting user (URL path parameter)
      - name: hash_id
        in: path
        required: true
        schema:
          type: string
        description: MD5 hash identifying the specific template to look up as a referral or direct link
      responses:
        '200':
          description: 'Returns {success: true, templates, referral_templates, popular, recommended, autoscaler}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true
                  templates:
                    type: array
                    items:
                      type: object
                    description: Merged list of hashed and user templates
                  referral_templates:
                    type: array
                    items:
                      type: object
                    description: Templates matching the given hash_id
                  popular:
                    type: array
                    items:
                      type: object
                    description: Popular templates
                  recommended:
                    type: array
                    items:
                      type: object
                    description: Recommended templates
                  autoscaler:
                    type: array
                    items:
                      type: object
                    description: Autoscaler-enabled templates
