openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/deployment/{id}/heartbeat/:
    post:
      summary: Send Deployment Heartbeat
      tags:
      - Serverless
      description: Updates the last client heartbeat timestamp for a deployment, used to prevent TTL-based auto-expiry.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 2.0
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Numeric ID of the deployment to heartbeat.
      responses:
        '200':
          description: 'Returns {success: true, deployment_id: <id>}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success.
                  deployment_id:
                    type: integer
                    description: ID of the deployment that received the heartbeat.
              example:
                success: true
                deployment_id: 5
        '400':
          description: '"Invalid deployment ID"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: '"Deployment {deployment_id} not found."'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
