openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/team/members/{id}/roles/:
    put:
      summary: Update Team Member Role
      tags:
      - Team
      description: Replaces a team member's current role with a different existing team role.
      security:
      - BearerAuth: []
      x-scope: team_write
      x-rateLimit: 2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the team member whose roles to update.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                member_id:
                  type: integer
                  description: User ID of the team member whose role should be changed.
                  example: 101
                role_id:
                  type: integer
                  description: ID of the new role to assign to the member.
                  example: 7
      responses:
        '200':
          description: '{"success": true, "msg": "User role updated successfully", "new_role_permissions": <permissions>}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success
                  msg:
                    type: string
                    description: Human-readable confirmation message
                  new_role_permissions:
                    type: object
                    description: Permissions object for the newly assigned role
              example:
                success: true
                msg: User role updated successfully
                new_role_permissions: {}
        '400':
          description: Member already has this role; user has no roles; cannot update when member has multiple roles; failed
            to update role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Only team accounts can update member roles; cannot update team owner's role; caller lacks sufficient
            permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Role not found; user is not a member of the team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
