openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/machines/errors:
    get:
      summary: List Machine Errors
      tags:
      - Machines
      description: Returns a list of the authenticated host's active machines that have errors, including machine_id, error_description,
        and date.
      security:
      - BearerAuth: []
      x-scope: machine_read
      x-rateLimit: 2.0
      responses:
        '200':
          description: Returns an array of objects with {machine_id, error_description, date}, up to 500 results
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    machine_id:
                      type: integer
                      description: ID of the machine with the error
                    error_description:
                      type: string
                      description: Error message text
                    date:
                      type: number
                      description: Unix timestamp of the last machine update
              example:
              - machine_id: 12345
                error_description: GPU temperature critical
                date: 1718000000
