openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v1/audit_logs/:
    get:
      summary: List Audit Logs (v1)
      tags:
      - Accounts
      description: Returns paginated audit logs for the user or team, with API key and user metadata, supporting filtering,
        sorting, and column selection.
      security: []
      x-rateLimit: 1
      responses:
        '200':
          description: 'Success: {"success": bool, "total_logs": int, "logs_found": int, "audit_logs": [...], "next_token":
            str|null}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True when logs were found, false otherwise
                  total_logs:
                    type: integer
                    description: Total number of matching audit logs
                  logs_found:
                    type: integer
                    description: Number of logs returned in this page
                  audit_logs:
                    type: array
                    items:
                      type: object
                    description: Array of audit log entries with key, key_type, key_status, email, and name fields added
                  next_token:
                    type: string
                    description: Cursor token for the next page, or null if no more pages
        '404':
          description: 'No audit logs found: {"success": false, "msg": "No audit logs found"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
