openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/auth/apikeys/{id}/:
    delete:
      summary: Delete API Key
      tags:
      - Accounts
      description: Deletes a user-created API key by ID; primary and non-user-created keys cannot be deleted.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the API key to delete
      responses:
        '200':
          description: Returns "Successfully Deleted API Key" on success.
        '400':
          description: API Key ID not provided ("API Key ID not provided."), only user-created API keys can be deleted ("Only
            user-created API keys can be deleted."), or cannot delete primary key ("You cannot delete your primary key.").
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated ("You must be logged in to delete an API key.") or key belongs to a different user
            ("You do not have permission to delete this API Key.").
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: API key not found ("API Key not found.").
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
