openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/bundles/{id}/:
    put:
      summary: Accept Bundle Offer
      tags:
      - Instances
      security: []
      x-rateLimit: 2.4
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Bundle ID identifying the group of asks to accept from.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                price:
                  type: number
                  description: Bid price override; if omitted the handler auto-computes a price from the best ask.
                max_start:
                  type: number
                  description: Relative seconds from now; filters asks to those starting within this window.
                min_duration:
                  type: number
                  description: Minimum remaining duration in seconds; filters asks to those meeting this threshold.
      responses:
        '200':
          description: Returns empty object (endpoint is currently disabled)
          content:
            application/json:
              schema:
                type: object
                properties: {}
              example: {}
        '404':
          description: 'Offer not found: "Offer {bundle_id} does not exist or is not available."'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
