openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/endptjobs/{id}/:
    delete:
      summary: Delete Endpoint
      tags:
      - Serverless
      description: Soft-deletes an endpoint by ID, cascading to its workergroups and worker instances; cascades to parent
        deployment if applicable.
      security: []
      x-rateLimit: 3
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the endpoint group to delete
      responses:
        '200':
          description: 'Returns {success: true}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  deleted_workers:
                    type: array
                    description: List of worker instances that were deleted (if any)
                    items:
                      type: integer
                    example:
                    - 1001
                    - 1002
                  failed_workers:
                    type: array
                    description: List of worker instances that failed to delete (if any)
                    items:
                      type: integer
                    example: []
                  msg:
                    type: string
                    description: Additional information about the deletion
                    example: Deleted endpoint job and 2 workers
              example:
                success: true
        '400':
          description: '"Invalid endpoint job ID" or "Endpoint {endptjob_id} for user {user_id} delete update failed!"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: '"Endpoint {endptjob_id} for user {user_id} not found."'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
