openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v1/template/:
    get:
      summary: List Templates with Pagination
      tags:
      - Search
      description: Paginated version of template search supporting cursor-based pagination tokens and relevance-scored results
        via OpenSearch.
      security:
      - BearerAuth: []
      x-scope: user_read
      x-rateLimit: 1.9
      responses:
        '200':
          description: 'Returns {success, templates_found, templates, next_token} on success, or {success: false, msg: "No
            templates found"} when empty'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True if templates were found
                  msg:
                    type: string
                    description: 'Present when no templates found: "No templates found"'
                  templates_found:
                    type: integer
                    description: Count of returned templates in this page
                  templates:
                    type: array
                    items:
                      type: object
                    description: Array of matching template objects
                  next_token:
                    type: string
                    description: Opaque pagination cursor for fetching the next page; null when no more results
        '400':
          description: 'Malformed JSON or unexpected error; returns {success: false, error, msg}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
