openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/volumes/:
    put:
      summary: Accept Volume Ask
      tags:
      - Volumes
      description: Accepts a disk volume ask by ID and size, initiating creation of the volume for the authenticated user.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: ID for the volume
                  example: 420
                size:
                  type: integer
                  description: Size in GB (Defaults to 15)
                  example: 15
      responses:
        '200':
          description: Successful response from volume creation (shape determined by create_volume helper)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: true on success.
                  volume_name:
                    type: string
                    description: Identifier of the newly created volume (e.g. "V.12345").
                required:
                - success
                - volume_name
              example:
                success: true
                volume_name: V.12345
        '400':
          description: 'Missing or invalid required args (id or size); error: "invalid_args"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
