openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/commands/schedule_job/{id}/:
    put:
      summary: Update Scheduled Job
      tags:
      - Instances
      description: Updates fields on an existing scheduled job identified by its ID.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 3.5
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the scheduled job to update (URL path parameter).
      responses:
        '200':
          description: 'Scheduled job updated successfully; returns {success: true, scheduled_job_id: <id>, msg: <message>}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success
                  scheduled_job_id:
                    type: integer
                    description: ID of the updated scheduled job
                  msg:
                    type: string
                    description: Human-readable confirmation message
              example:
                success: true
                scheduled_job_id: 42
                msg: Successfully updated scheduled job with ID 42
        '400':
          description: Missing job ID ("Missing scheduled_job_id in request.") or no valid fields provided for update ("No
            valid fields provided for update.")
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'No scheduled job found with the given ID; returns {error: "not_found"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'Failed to update the scheduled job; returns {error: "update_failed"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
