openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/auth/apikeys/:
    get:
      summary: List User API Keys
      tags:
      - Accounts
      description: Returns all active API keys for the authenticated user.
      security:
      - BearerAuth: []
      x-scope: user_read
      x-rateLimit: 1
      responses:
        '200':
          description: 'Returns {apikeys: [...]} with key values redacted (set to null).'
          content:
            application/json:
              schema:
                type: object
                properties:
                  apikeys:
                    type: array
                    description: List of API key records; actual key values are set to null
                    items:
                      type: object
              example:
                apikeys:
                - id: 1
                  user_id: 123
                  key: null
                  key_type: api
                  name: My Key
                  team_id: null
                  team_name: null
                  team_owner: null
        '400':
          description: API Key not provided as bearer token ("API Key not provided as bearer token.") or API Key not found
            ("API Key not found.").
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: User is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
