openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /get_workergroup_logs/:
    post:
      summary: Get Worker Group Logs
      description: Fetch recent log output for a worker group.
      tags:
      - Serverless
      servers:
      - url: https://run.vast.ai
        description: Serverless request router
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: Worker group id.
                api_key:
                  type: string
                  description: Endpoint API key. May instead be supplied as a Bearer token in the Authorization header.
                tail:
                  type: integer
                  default: 10000
                  description: Number of trailing log lines to return.
              required:
              - id
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: string
        '400':
          description: Bad request — missing/invalid parameters (response body contains an `error_msg` string).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_msg:
                    type: string
