openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/user/template_performance:
    get:
      summary: Get Template Performance Metrics
      tags:
      - Accounts
      description: Returns performance metrics for the authenticated user's templates, including total and active user counts
        and earnings over an optional date range.
      security:
      - BearerAuth: []
      x-scope: user_read
      x-rateLimit: 1.9
      responses:
        '200':
          description: 'Success; returns {success: true, templates: [{id, created_at, hash_id, name, total_users, active_users,
            daily_earnings, range_spend}]}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the request succeeded
                  templates:
                    type: array
                    description: Templates with performance metrics
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Template ID
                        created_at:
                          type: number
                          description: Unix timestamp when template was created
                        hash_id:
                          type: string
                          description: MD5 hash identifier for the template
                        name:
                          type: string
                          description: Template name
                        total_users:
                          type: integer
                          description: Total number of users who have this template
                        active_users:
                          type: integer
                          description: Number of users with an active relationship to this template
                        daily_earnings:
                          type: array
                          description: Per-day earnings breakdown within the requested range
                          items:
                            type: object
                            properties:
                              day:
                                type: integer
                                description: Day number (unix timestamp // 86400)
                              spend:
                                type: number
                                description: Earnings for that day
                        range_spend:
                          type: number
                          description: Total earnings within the requested date range
              example:
                success: true
                templates:
                - id: 42
                  created_at: 1700000000
                  hash_id: 49c538d097ad6437413b83711c9f61e8
                  name: PyTorch 2.1
                  total_users: 150
                  active_users: 80
                  daily_earnings:
                  - day: 19700
                    spend: 12.5
                  range_spend: 12.5
