openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/user/earnings:
    get:
      summary: Get Total Earnings
      tags:
      - Accounts
      description: Get user total earnings data including referral counts, referral credits, and machine earnings if the user
        is a host.
      security:
      - BearerAuth: []
      x-scope: billing_read
      x-rateLimit: 1.9
      responses:
        '200':
          description: 'Success: {"referral_count": int, "referral_credits": float, optionally "machine_earnings": float,
            "sla_earnings": float, "sla_collateral": int}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  referral_count:
                    type: integer
                    description: Total number of referred users
                  referral_credits:
                    type: number
                    description: Total referral earnings in dollars
                  machine_earnings:
                    type: number
                    description: Total machine earnings in dollars (host users only)
                  sla_earnings:
                    type: number
                    description: Total SLA earnings in dollars (host users only)
                  sla_collateral:
                    type: number
                    description: SLA collateral amount (host users only)
