openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/deployment/{id}/start/:
    post:
      summary: Start Deployment
      tags:
      - Serverless
      description: Sets the deployment's endpoint state to active, resuming autoscaler activity for the deployment.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 2.0
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Numeric ID of the deployment to start.
      responses:
        '200':
          description: 'Returns {success: true, endpoint_state: ''active''}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success.
                  endpoint_state:
                    type: string
                    description: 'New endpoint state: "active".'
              example:
                success: true
                endpoint_state: active
        '404':
          description: '"Deployment {deployment_id} not found." or "Deployment {deployment_id} endpoint not found or already
            deleted."'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
