openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/audit_log_filters/:
    get:
      summary: Get Audit Log Filter Options
      tags:
      - Accounts
      description: Returns the distinct API keys, routes, and IP addresses present in the user's audit logs, for use in filtering.
      security: []
      x-rateLimit: 1
      responses:
        '200':
          description: 'No logs: {"success": false, "msg": "No audit logs found"}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True when logs exist, false when none found
                  users:
                    type: object
                    description: Map of user_id to user info (email, name, apikey_ids)
                  keys:
                    type: object
                    description: Map of key_id to key info (last 6 chars, key_type)
                  api_routes:
                    type: array
                    items:
                      type: string
                    description: Sorted list of distinct API routes in the logs
                  ip_addresses:
                    type: array
                    items:
                      type: string
                    description: Sorted list of distinct IP addresses in the logs
