openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/users/current/password-resets/:
    post:
      summary: Reset Password
      tags:
      - Accounts
      description: Send a password reset email to the given username or email address.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 10
      responses:
        '200':
          description: 'Reset email sent (or suppressed on error): {"sent": true}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent:
                    type: boolean
                    description: Always true when the request is accepted
              example:
                sent: true
        '400':
          description: 'Invalid JSON body: "Invalid JSON in request body"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
