openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/autojobs/:
    get:
      summary: List Autojob Workergroups
      tags:
      - Serverless
      description: Returns all active workergroups (autojobs) belonging to the authenticated user, with endpoint and API key
        details.
      security: []
      x-rateLimit: 2
      responses:
        '200':
          description: 'Returns {success: true, results: [{id, min_load, target_util, cold_mult, cold_workers, template_hash,
            template_id, search_query, launch_args, gpu_ram, endpoint_name, endpoint_id, api_key, created_at, user_id}, ...]}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success.
                  results:
                    type: array
                    description: List of workergroup objects.
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Workergroup ID.
                        min_load:
                          type: number
                          description: Minimum load threshold.
                        target_util:
                          type: number
                          description: Target utilization ratio.
                        cold_mult:
                          type: number
                          description: Cold worker multiplier.
                        cold_workers:
                          type: integer
                          description: Number of cold (standby) workers.
                        template_hash:
                          type: string
                          description: Hash ID of the associated template.
                        template_id:
                          type: integer
                          description: ID of the associated template.
                        search_query:
                          type: object
                          description: Machine search query parameters.
                        launch_args:
                          type: string
                          description: CLI launch arguments for workers.
                        gpu_ram:
                          type: number
                          description: Required GPU RAM in GB.
                        endpoint_name:
                          type: string
                          description: Name of the associated endpoint.
                        endpoint_id:
                          type: integer
                          description: ID of the associated endpoint.
                        api_key:
                          type: string
                          description: Auth token for the user.
                        created_at:
                          type: number
                          description: Unix timestamp when the workergroup was created.
                        user_id:
                          type: integer
                          description: ID of the owning user.
              example:
                success: true
                results:
                - id: 7
                  min_load: 0
                  target_util: 0.9
                  cold_mult: 3
                  cold_workers: 5
                  template_hash: abc123
                  template_id: 101
                  search_query:
                    verified:
                      eq: true
                  launch_args: --image pytorch/pytorch
                  gpu_ram: 8
                  endpoint_name: my-endpoint
                  endpoint_id: 3
                  api_key: tok_abc
                  created_at: 1700000000
                  user_id: 55
