openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/secrets/:
    put:
      summary: Update User Secret
      tags:
      - Accounts
      description: Updates the value of an existing environment variable secret for the authenticated user.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                  description: The key of the environment variable to update (will be converted to uppercase)
                  example: MY_API_KEY
                value:
                  type: string
                  description: New encrypted value to store for the secret.
                  example: newsecret456
      responses:
        '200':
          description: 'Success: {"success": true, "msg": "Environment variable updated successfully"}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true
                  msg:
                    type: string
                    description: Confirmation message
              example:
                success: true
                msg: Environment variable updated successfully
        '400':
          description: 'Bad request: "Both ''key'' and ''value'' are required.", or "Environment variable not found" (key
            does not exist)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
