openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/users/{user_id}/template/:
    post:
      summary: Save Template to User
      tags:
      - Accounts
      description: Associates an existing template with the authenticated user's library, or makes it visible again if it
        was previously hidden.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 1.9
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the user to associate the template with (URL path parameter)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                template_id:
                  type: integer
                  description: ID of the template to add to the user's library
                  example: 12345
      responses:
        '200':
          description: 'Returns {success: true}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true
              example:
                success: true
