openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/instances/:
    get:
      summary: List Instances
      tags:
      - Instances
      description: Returns all active GPU instances for the authenticated user. Deprecated for accounts created after June
        2, 2026; those accounts should use /api/v1/instances/ instead.
      security:
      - BearerAuth: []
      x-scope: instance_read
      x-rateLimit:
        profile: legacy_deprecating
        threshold: 20
      responses:
        '200':
          description: Returns {instances_found, instances} with an array of instance objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  instances_found:
                    type: integer
                    description: Total number of instances returned
                  instances:
                    type: array
                    items:
                      type: object
                    description: Array of instance objects
              example:
                instances_found: 2
                instances: []
        '410':
          description: '"Endpoint deprecated: /api/v0/instances/ is deprecated. Use /api/v1/instances/ instead." for accounts
            created after the v0 cutoff.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
