openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/bundles_bid_price/{id}/:
    put:
      summary: Get Bundle Bid Price
      tags:
      - Search
      description: Returns the recommended bid price for the best available ask in the specified bundle.
      security: []
      x-rateLimit: 0.8
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Bundle ID to look up the best ask bid price for.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                price:
                  type: number
                  description: Optional requested bid price; if omitted the handler computes from the best ask.
                max_start:
                  type: number
                  description: Relative seconds from now; filters asks to those starting within this window.
                min_duration:
                  type: number
                  description: Minimum remaining duration in seconds; filters asks to those meeting this threshold.
      responses:
        '200':
          description: 'Successful response: numeric bid price'
          content:
            application/json:
              schema:
                type: number
                description: Recommended bid price in dollars
              example: 0.42
        '404':
          description: 'Offer not found: {"success": false, "error": "no_such_ask", "msg": "Offer {bundle_id} does not exist
            or is not available."}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
