openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/endptjobs/{id}/:
    get:
      summary: Get Endpoint
      tags:
      - Serverless
      description: Returns configuration and auto-delete status for a single serverless endpoint by ID.
      security: []
      x-rateLimit: 2.0
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Numeric ID of the endpoint to retrieve.
      responses:
        '200':
          description: 'Returns {success: true, result: {id, min_load, min_cold_load, target_util, cold_mult, cold_workers,
            max_workers, max_queue_time, target_queue_time, endpoint_name, api_key, user_id, created_at, endpoint_state, inactivity_timeout,
            auto_delete_in_seconds, auto_delete_due_24h}}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success.
                  result:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: Endpoint ID.
                      min_load:
                        type: number
                        description: Minimum load threshold.
                      min_cold_load:
                        type: number
                        description: Minimum cold load threshold.
                      target_util:
                        type: number
                        description: Target utilization ratio.
                      cold_mult:
                        type: number
                        description: Cold worker multiplier.
                      cold_workers:
                        type: integer
                        description: Number of cold (standby) workers.
                      max_workers:
                        type: integer
                        description: Maximum allowed workers.
                      max_queue_time:
                        type: number
                        description: Maximum queue wait time in seconds.
                      target_queue_time:
                        type: number
                        description: Target queue wait time in seconds.
                      endpoint_name:
                        type: string
                        description: Human-readable endpoint name.
                      api_key:
                        type: string
                        description: Auth token for the user.
                      user_id:
                        type: integer
                        description: ID of the owning user.
                      created_at:
                        type: number
                        description: Unix timestamp of creation.
                      endpoint_state:
                        type: string
                        description: Current state of the endpoint.
                      inactivity_timeout:
                        type: number
                        description: Seconds of inactivity before auto-stop.
                      auto_delete_in_seconds:
                        type: number
                        description: Seconds until auto-deletion if no active workergroups; null otherwise.
                      auto_delete_due_24h:
                        type: boolean
                        description: True if auto-deletion is due within 24 hours.
        '400':
          description: '"Invalid endpoint job ID"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: '"Endpoint job {endptjob_id} not found"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
