openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/users/{user_id}/settings/:
    get:
      summary: Get User Settings
      tags:
      - Accounts
      description: Returns the onstart script setting for the specified user.
      security:
      - BearerAuth: []
      x-scope: user_read
      x-rateLimit: 2
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the user whose settings to retrieve; must match the authenticated caller.
      responses:
        '200':
          description: 'Success: {"o": str|null} (onstart script value)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  o:
                    type: string
                    description: The user's on-start script value
        '404':
          description: 'User not found: {"success": false, "error": "no_such_user", "msg": "No such user."}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
