openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/commands/copy_direct/:
    delete:
      summary: Cancel Direct Copy
      tags:
      - Instances
      description: Cancels an in-progress direct copy operation on the destination instance.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 3.5
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dst_id:
                  type: string
                  description: ID of the copy instance target to cancel.
      responses:
        '200':
          description: 'Returns {success: true} when the cancel task is sent.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True when cancel command was sent
                  error:
                    type: string
                    description: Error code if success is false
                  msg:
                    type: string
                    description: Human-readable message
              example:
                success: true
        '400':
          description: 'Returns {success: false, error: "invalid_args", msg: "Invalid dst_id."} when dst_id is invalid, or
            {success: false, error: "invalid_args", msg: "Remote instance does not have an open port"} when dst_instance_id
            is None.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
