openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/volumes/:
    get:
      summary: List Volumes
      tags:
      - Volumes
      description: Returns the authenticated user's volumes, optionally filtered by type (local_volume, network_volume, or
        all_volume) and instance IDs.
      security:
      - BearerAuth: []
      x-scope: instance_read
      x-rateLimit: 2
      responses:
        '200':
          description: 'Successful response with a list of volumes: {"volumes": [...]}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  volumes:
                    type: array
                    items:
                      type: object
                    description: Array of volume objects belonging to the user.
                required:
                - volumes
              example:
                volumes: []
        '400':
          description: 'Invalid type parameter; message: "type must be unspecified or one of: [''local_volume'', ''network_volume'',
            ''all_volume'']"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
