openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/users/cloud/:
    get:
      summary: List Cloud Connections
      tags:
      - Accounts
      description: Returns the authenticated user's linked cloud storage connections (Google Drive, S3, Backblaze, Dropbox,
        and gated Hugging Face Storage Buckets).
      security:
      - BearerAuth: []
      x-scope: user_read
      x-rateLimit: 2.9
      responses:
        '200':
          description: 'Successful response: list of cloud connection metadata objects'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: Cloud connection ID
                    cloud_service_id:
                      type: integer
                      description: Cloud provider service ID
                    cloud_type:
                      type: string
                      description: Provider type (e.g. drive, s3, b2, dropbox, hf)
                    user_given_name:
                      type: string
                      description: User-assigned name for this connection
                  required:
                  - id
                  - cloud_service_id
                  - cloud_type
                  - user_given_name
                  additionalProperties: false
