openapi: 3.1.0
info:
  title: Vast.ai API (auto-generated endpoint)
  description: Auto-generated from vast backend code introspection. Do not hand-edit — change web/ code or scripts/openapi_overrides.json
    and regenerate.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/deployment/{id}/download_url/:
    get:
      summary: Get Deployment Download URL
      tags:
      - Serverless
      description: Generates and returns a presigned S3 URL to download the current deployment blob, valid for 1 hour.
      security:
      - BearerAuth: []
      x-scope: instance_read
      x-rateLimit: 2.0
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Numeric ID of the deployment to get the artifact download URL for.
      responses:
        '200':
          description: 'Returns {success: true, download_url: <presigned_s3_url>}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success.
                  download_url:
                    type: string
                    description: Presigned S3 URL valid for 1 hour.
              example:
                success: true
                download_url: https://s3.amazonaws.com/bucket/1/myapp/abc123?...
        '400':
          description: '"Invalid deployment ID" or "No blob has been uploaded for this deployment."'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: '"Deployment {deployment_id} not found."'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        msg:
          type: string
