openapi: 3.0.0
info:
  title: Vast.ai Machine List API
  description: API endpoint for listing machines for rent on the vast.ai platform.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/machines/create_asks/:
    put:
      summary: list machine
      description: |
        Creates or updates ask contracts for a machine to list it for rent on the vast.ai platform.
        Allows setting offer pricing, rental types, end dates, discount rates, and SLA parameters.
        Unspecified fields generally keep their current values, except `price_disk` (defaults to 0.10), `duration` (cleared if omitted), `hidden_listing` (defaults to false). `min_chunk` defaults to 1 only when offers are created or re-created, not when an existing listing is updated. Omitting `vol_size` on a machine with no volume offer creates one at half the free disk; send `0` to opt out. Send `price_disk`, `hidden_listing`, and `min_chunk` on every update. Send either `duration` or `end_date`, never both (400). Read the current offer with show machines before changing pricing.

        SLA request-body fields (`sla_r_claim`, `sla_sigma_x`, optional `sla_max_beta`) are supported on this REST endpoint. SLA activates when `sla_r_claim > 0`. Host-sent `sla_r_target` / legacy `sla_reliability` are ignored — clients choose a reliability target at search/rent time. The published CLI and SDK do not yet expose SLA fields — use the host console (**Set Pricing → SLA**) or REST/`curl` until CLI/SDK support ships.

        CLI Usage (non-SLA fields): `vastai list machine <machine_id> [options]`
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - machine
              properties:
                machine:
                  type: integer
                  description: ID of the machine to list
                price_gpu:
                  type: number
                  format: float
                  description: Price per GPU per hour
                price_disk:
                  type: number
                  format: float
                  description: Price per GB of disk storage per month (USD/GB/month).
                price_inetu:
                  type: number
                  format: float
                  description: Price per GB of upload bandwidth
                price_inetd:
                  type: number
                  format: float
                  description: Price per GB of download bandwidth
                price_min_bid:
                  type: number
                  format: float
                  description: Minimum bid price allowed
                min_chunk:
                  type: integer
                  description: Minimum number of GPUs that must be rented together. Defaults to 1 when offers are created or re-created (first publish, or relist after unlist). Omitting it on an already-listed machine does not change the current minimum. Send listed_min_gpu_count so a later relist does not slice the machine.
                  default: 1
                end_date:
                  type: number
                  format: float
                  description: Unix timestamp for when the listing expires. Do not send together with `duration` (400 Cannot set both duration and end_date).
                duration:
                  type: integer
                  description: >
                    Whole seconds until the listing ends (auto-renewing listings). Floats such as
                    2592000.0 are rejected with 400 Invalid duration. Mutually exclusive with end_date.
                    Omitting it on an auto-renew listing turns auto-renew off.
                hidden_listing:
                  type: boolean
                  description: When true, the offer is not shown in search. Defaults to false if omitted, which makes a hidden listing public. `show machines` does not return this flag.
                vol_size:
                  type: integer
                  minimum: 0
                  description: Size in GB of a volume offer to create alongside the machine offer. Send 0 to avoid creating one. Omitting it creates a volume offer at about half the free disk. Sending 0 does not delete an existing volume offer.
                vol_price:
                  type: number
                  format: float
                  description: Price per GB-month for the volume offer created when vol_size is set.
                credit_discount_max:
                  type: number
                  format: float
                  description: Maximum discount rate allowed for prepaid credits
                sla_r_claim:
                  type: number
                  format: float
                  minimum: 0
                  maximum: 0.99999
                  description: |
                    Host reliability claim. Values above 0 enable SLA on the offer.
                    Must be greater than 0 and at most 0.99999 when enabling SLA; exactly 1.0 is rejected.
                    Set to 0 to disable SLA on new rentals.
                sla_sigma_x:
                  type: number
                  format: float
                  description: |
                    Host confidence spread — how wide your belief is around the claim.
                    SLA confidence spread. Defaults to 0.5 when an ask is created with SLA. When enabling SLA on an existing ask, send it explicitly; omitting it keeps the stored value, which may be empty. In that case show machines returns sla_confidence null.
                sla_max_beta:
                  type: number
                  format: float
                  description: |
                    Optional ask term capping how aggressively long-running contracts may weight recent
                    uptime versus longer history in settlement. Hosts do not set β — the platform derives
                    β from the client's target_reliability at rent. Leave unset for uncapped. When set,
                    must be in (0, 1) and at least the default beta derived at your claim.
                sla_r_target:
                  type: number
                  format: float
                  description: |
                    Ignored on asks. Client coverage target is supplied at search/rent time
                    (`target_reliability`), not set by the host.
                sla_reliability:
                  type: number
                  format: float
                  description: Legacy alias for sla_r_target; ignored on asks.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  you_sent:
                    type: object
                    description: Echo of the request body
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        machine_id:
                          type: integer
                        user_id:
                          type: integer
                        extended:
                          type: integer
                          description: Number of rental contracts extended
                        new_contracts:
                          type: array
                          items:
                            type: integer
                          description: IDs of newly created contracts
                        upd_contracts:
                          type: array
                          items:
                            type: integer
                          description: IDs of updated contracts
                example:
                  success: true
                  you_sent:
                    machine: 12345
                    sla_r_claim: 0.99
                    sla_sigma_x: 0.5
                  results:
                  - machine_id: 12345
                    user_id: 67890
                    extended: 1
                    new_contracts: []
                    upd_contracts: [1]
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - invalid_args
                    - invalid_sla_params
                    example: invalid_sla_params
                  msg:
                    type: string
                    example: No such machine(s) for your account
        '401':
          description: Unauthorized — missing permission or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                  msg:
                    type: string
                    example: Your key lacks the machine_write permission group
        '403':
          description: Forbidden — machine locked, host not approved for SLA, SLA switched off platform-wide, or daemon too old for SLA
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - machine_locked
                    - sla_not_approved
                    - sla_disabled
                    - sla_daemon_outdated
                    example: machine_locked
                  msg:
                    type: string
                    example: Machine is decommissioned or migration-locked
        '402':
          description: Machine daemon has not checked in recently. Message is in `results[0].msg`.
        '429':
          description: Too many requests. Space calls at least 5 seconds apart.
      tags:
      - Machines
x-rate-limit:
  threshold: 5.0
  description: Maximum request frequency for PUT /api/v0/machines/create_asks/. Space calls at least 5 seconds apart.
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication with API key in Authorization header
