openapi: 3.0.0
info:
  title: Vast.ai Machine List API
  description: API endpoint for listing machines for rent on the vast.ai platform.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/machines/create_asks/:
    put:
      summary: list machine
      description: |
        Creates or updates ask contracts for a machine to list it for rent on the vast.ai platform.
        Allows setting pricing, minimum GPU requirements, end date, discount rates, and SLA parameters.

        CLI Usage: `vastai list machine <machine_id> [options]`
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - machine
              properties:
                machine:
                  type: integer
                  description: ID of the machine to list
                price_gpu:
                  type: number
                  format: float
                  description: Price per GPU per hour
                price_disk:
                  type: number
                  format: float
                  description: Price per GB of disk storage
                price_inetu:
                  type: number
                  format: float
                  description: Price per GB of upload bandwidth
                price_inetd:
                  type: number
                  format: float
                  description: Price per GB of download bandwidth
                price_min_bid:
                  type: number
                  format: float
                  description: Minimum bid price allowed
                min_chunk:
                  type: integer
                  description: Minimum number of GPUs that must be rented together
                  default: 1
                end_date:
                  type: number
                  format: float
                  description: Unix timestamp for when the listing expires
                credit_discount_max:
                  type: number
                  format: float
                  description: Maximum discount rate allowed for prepaid credits
                sla_r_target:
                  type: number
                  format: float
                  description: |
                    Client reliability coverage target (0–1). Values above 0 enable SLA on the offer.
                    Legacy alias: sla_reliability.
                sla_r_claim:
                  type: number
                  format: float
                  description: |
                    Host reliability claim (0–1). Must be greater than or equal to sla_r_target.
                    Defaults to sla_r_target if omitted.
                sla_sigma_x:
                  type: number
                  format: float
                  description: |
                    Host confidence spread — how wide your belief is around the claim.
                    Must be greater than 0 and at most 3.0. Defaults to 0.5.
                sla_reliability:
                  type: number
                  format: float
                  description: Legacy alias for sla_r_target.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  extended:
                    type: integer
                    description: Number of client contracts extended to new end date
                  msg:
                    type: string
                    description: Status message if success is false
                example:
                  success: true
                  extended: 2
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_args
                  msg:
                    type: string
                    example: Invalid machine id or parameters
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: not_authorized
                  msg:
                    type: string
                    example: Only machine owner can create ask contracts
      tags:
      - Machines
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication with API key in Authorization header
