openapi: 3.0.0
info:
  title: Metrics GPU Locations API
  description: Show geographic distribution of GPUs on the marketplace
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/metrics/gpu/locations/:
    get:
      summary: show gpu locations
      description: |
        Returns the geographic distribution of GPUs across the Vast marketplace. The CLI supports client-side filtering by GPU type, verification, datacenter, and rental status.

        CLI Usage: `vastai metrics gpu-locations [options]`
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  locations:
                    type: array
                    items:
                      type: object
                      properties:
                        latitude:
                          type: number
                          example: 37.7749
                        longitude:
                          type: number
                          example: -122.4194
                        city:
                          type: string
                          example: San Francisco
                        country_code:
                          type: string
                          example: US
                        gpu_name:
                          type: string
                          example: RTX 4090
                        rented:
                          type: boolean
                        verified:
                          type: boolean
                        datacenter:
                          type: boolean
                        num_gpus:
                          type: integer
                          example: 4
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: API requests too frequent endpoint threshold=3.0
      tags:
      - Machines
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key must be provided in the Authorization header
  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        msg:
          type: string
x-rate-limit:
  threshold: 3.0
  per: request
  description: Maximum request frequency per IP address for this endpoint
x-cli-commands:
- name: metrics gpu-locations
  description: Show GPU location metrics
  endpoint: /api/v0/metrics/gpu/locations/
  method: GET
  example: vastai metrics gpu-locations
