openapi: 3.0.0
info:
  title: Vast.ai API
  description: API for scheduling maintenance windows for machines on Vast.ai platform.
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/machines/{machine_id}/dnotify:
    put:
      summary: schedule maint
      description: |
        Schedules a maintenance window for a specified machine and notifies clients.

        CLI Usage: `vastai schedule maint <machine_id> --sdate <sdate> --duration <duration> --maintenance_category <category>`

        The CLI sends `"not provided"` when `--maintenance_category` is omitted, and that value is rejected with HTTP 400 `invalid_args`. On REST, an omitted `maintenance_category` defaults to `other`.
      security:
      - BearerAuth: []
      parameters:
      - name: machine_id
        in: path
        required: true
        description: ID of the machine to schedule maintenance for.
        schema:
          type: integer
          example: 12345
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - sdate
              - duration
              properties:
                sdate:
                  type: number
                  description: |
                    Start time of the maintenance window as Unix epoch seconds (UTC), for example
                    `1785549600` (2026-08-01 02:00 UTC). The CLI `--sdate` flag sends the same value.
                  example: 1785549600
                duration:
                  type: integer
                  description: Duration of the maintenance window in hours.
                  example: 2
                maintenance_reason:
                  type: string
                  description: |
                    Accepted on the request schema, but the server currently stores this
                    field empty. Renters will not see a reason you send.
                  example: Routine hardware check
                maintenance_category:
                  type: string
                  description: Category of the maintenance.
                  enum:
                  - power
                  - internet
                  - disk
                  - gpu
                  - software
                  - other
                  example: software
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  you_sent:
                    type: string
                    example: 2 notifications sent
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: API requests too frequent endpoint threshold=2.5
      tags:
      - Machines
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key must be provided in the Authorization header
  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        msg:
          type: string
x-rate-limit:
  threshold: 2.5
  per: request
  description: Maximum request frequency per IP address for this endpoint
x-cli-commands:
- name: schedule maint
  description: Schedule maintenance for a machine.
  endpoint: /api/v0/machines/{machine_id}/dnotify
  method: PUT
  example: vastai schedule maint 12345 --sdate $(date -u -d '2 days 02:00:00' +%s) --duration 2
    --maintenance_category software
