openapi: 3.0.0
info:
  title: Show Deployments API
  description: Retrieve a list of deployments for the authenticated user
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/deployments/:
    get:
      summary: show deployments
      description: |
        Returns all deployments owned by the authenticated user.

        CLI Usage: `vastai show deployments`
      security:
      - BearerAuth: []
      responses:
        '200':
          description: A list of deployments
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  deployments:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 644
                        name:
                          type: string
                          example: square
                        tag:
                          type: string
                          example: default
                        image:
                          type: string
                          example: vastai/base-image:latest
                        endpoint_id:
                          type: integer
                          nullable: true
                          example: 25121
                        env:
                          type: string
                          nullable: true
                          description: Environment variables and port mappings
                        file_hash:
                          type: string
                          nullable: true
                          description: Content hash of the deployed code
                        s3_key:
                          type: string
                          nullable: true
                          description: S3 object key for the current code version
                        search_params:
                          type: string
                          nullable: true
                          description: Search query for instance selection
                        current_version_id:
                          type: integer
                          nullable: true
                        last_healthy_version_id:
                          type: integer
                          nullable: true
                        storage:
                          type: number
                          example: 16.0
                        ttl:
                          type: number
                          nullable: true
                        last_client_heartbeat:
                          type: number
                          nullable: true
                          description: Unix timestamp of last client heartbeat
                        created_at:
                          type: number
                          description: Unix timestamp
                        updated_at:
                          type: number
                          description: Unix timestamp
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: API requests too frequent endpoint threshold=3.0
      tags:
      - Serverless
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key must be provided in the Authorization header
  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        msg:
          type: string
x-rate-limit:
  threshold: 3.0
  per: request
  description: Maximum request frequency per IP address for this endpoint
x-cli-commands:
- name: show deployments
  description: Display user's current deployments
  endpoint: /api/v0/deployments/
  method: GET
  example: vastai show deployments
