openapi: 3.0.0
info:
  title: Show Deployment API
  description: Retrieve details of a single deployment
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/deployment/{id}/:
    get:
      summary: show deployment
      description: |
        Returns detailed information about a single deployment, including endpoint state and worker count.

        CLI Usage: `vastai show deployment <id>`
      security:
      - BearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Deployment ID
        example: 644
      responses:
        '200':
          description: Deployment details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  deployment:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 644
                      name:
                        type: string
                        example: square
                      tag:
                        type: string
                        example: default
                      image:
                        type: string
                        example: vastai/base-image:latest
                      endpoint_id:
                        type: integer
                        nullable: true
                        example: 25121
                      endpoint_state:
                        type: string
                        nullable: true
                        description: Current state of the endpoint
                        example: active
                      s3_key:
                        type: string
                        nullable: true
                        description: S3 object key for the current code version
                      file_hash:
                        type: string
                        nullable: true
                        description: Content hash of the deployed code
                      current_version_id:
                        type: integer
                        nullable: true
                      last_healthy_version_id:
                        type: integer
                        nullable: true
                      storage:
                        type: number
                        example: 16.0
                      ttl:
                        type: number
                        nullable: true
                      created_at:
                        type: number
                        description: Unix timestamp
                      updated_at:
                        type: number
                        description: Unix timestamp
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Deployment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: API requests too frequent endpoint threshold=3.0
      tags:
      - Serverless
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key must be provided in the Authorization header
  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        msg:
          type: string
x-rate-limit:
  threshold: 3.0
  per: request
  description: Maximum request frequency per IP address for this endpoint
x-cli-commands:
- name: show deployment
  description: Display a single deployment
  endpoint: /api/v0/deployment/{id}/
  method: GET
  example: vastai show deployment 644
