openapi: 3.0.0
info:
  title: Vast.ai API - SLA Backtest
  description: Replay historical machine earnings through SLA settlement (host only).
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/host/sla_backtest/:
    get:
      summary: sla backtest
      operationId: slaBacktest
      description: |
        Host only. Replays one machine's historical compute earnings and uptime through production
        SLA settlement under what-if SLA terms, and returns a per-day ledger of the money that moved
        between the renter, the SLA escrow, and the host. The maximum date range is 366 days
        (inclusive); the default lookback is 90 days when custom dates are omitted. Unknown query
        parameters are rejected with `400 bad_request`. Optional `beta` is accepted and ignored for hosts.

        Requires `machine_read` permission and ownership of the machine. See
        [SLA Earnings Backtester](/host/sla-backtester) for the usage guide.
      security:
      - BearerAuth: []
      parameters:
      - name: machine_id
        in: query
        required: true
        schema:
          type: integer
          minimum: 1
        description: ID of your machine.
      - name: r_claim
        in: query
        required: true
        schema:
          type: number
          format: float
          minimum: 0
          exclusiveMinimum: true
          maximum: 0.99999
        description: Host reliability commitment to simulate (the `sla_r_claim` you plan to list).
      - name: p
        in: query
        schema:
          type: number
          format: float
          minimum: 0
          exclusiveMinimum: true
          maximum: 1
          exclusiveMaximum: true
          default: 0.6667
        description: |
          Host confidence. Uses a different scale from listing `sla_sigma_x`
          (`p = 1 / (1 + sla_sigma_x)`; Tight 0.83, Normal 0.6667, Wide 0.50). Default 0.6667 (Normal).
      - name: r_target
        in: query
        schema:
          type: number
          format: float
          minimum: 0
          exclusiveMinimum: true
          maximum: 0.99999
        description: Renter reliability target to simulate. Must not exceed `r_claim`. Defaults to `r_claim`.
      - name: start_date
        in: query
        schema:
          type: number
        description: Range start as Unix epoch seconds. Default is 90 days before end_date.
      - name: end_date
        in: query
        schema:
          type: number
        description: Range end as Unix epoch seconds. Default is now.
      - name: beta
        in: query
        required: false
        deprecated: true
        schema:
          type: number
          minimum: 0
          maximum: 1
        description: Not a host setting. Accepted for compatibility and ignored. The value used is echoed in params.beta.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  machine_id:
                    type: integer
                  has_data:
                    type: boolean
                    description: false when no day in the range had rental earnings to replay.
                  start_day:
                    type: integer
                    description: UTC day index (floor(epoch_seconds / 86400)).
                  end_day:
                    type: integer
                    description: UTC day index (floor(epoch_seconds / 86400)).
                  r_eff:
                    type: number
                    format: float
                    nullable: true
                    description: |
                      Effective reliability: the constant reliability that would have produced the
                      service credits paid in the window. null when the window had no deposits.
                  r_be:
                    type: number
                    format: float
                    description: |
                      Break-even reliability: where SLA fees and service credits cancel out. If r_eff
                      is above r_be, SLA was net positive for the host over the window.
                  days:
                    type: array
                    description: One row per UTC day from start_day to end_day. All flows are non-negative dollar amounts moved that day.
                    items:
                      type: object
                      properties:
                        day:
                          type: integer
                        client_compute_to_escrow:
                          type: number
                          format: float
                          description: Renter compute payment for the day held in SLA escrow (host net of platform fee).
                        client_premium_to_escrow:
                          type: number
                          format: float
                          description: SLA fee paid in for the day.
                        escrow_to_client_balance:
                          type: number
                          format: float
                          description: Service credits paid to the renter that day.
                        escrow_to_host_balance:
                          type: number
                          format: float
                          description: Amount released from escrow to the host that day.
                        reliability:
                          type: number
                          format: float
                          nullable: true
                          description: Measured uptime fraction for the day (0-1); null when the machine had no rental data that day.
                  params:
                    type: object
                    description: SLA terms the replay used, after defaulting.
                    properties:
                      r_claim:
                        type: number
                        format: float
                      r_target:
                        type: number
                        format: float
                      p:
                        type: number
                        format: float
                      beta:
                        type: number
                        format: float
                        description: Recent vs long-term uptime weighting, derived automatically from r_target. Not a host setting.
              example:
                success: true
                machine_id: 12345
                has_data: true
                start_day: 20567
                end_day: 20657
                r_eff: 0.9987
                r_be: 0.9960
                days:
                - day: 20567
                  client_compute_to_escrow: 78.12
                  client_premium_to_escrow: 0.19
                  escrow_to_client_balance: 0.0
                  escrow_to_host_balance: 76.4
                  reliability: 1.0
                params:
                  r_claim: 0.99
                  r_target: 0.99
                  beta: 0.46
                  p: 0.6667
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    enum:
                    - bad_request
                    - invalid_params
                    - invalid_range
                    - range_too_large
                    description: |
                      bad_request: missing, out-of-range, or unknown parameter.
                      invalid_params: SLA terms don't combine (for example r_target > r_claim).
                      invalid_range: start_date after end_date. range_too_large: more than 366 days.
                  msg:
                    type: string
        '401':
          description: Unauthorized. An unknown or invalid API key returns `error` `auth_error`. A valid key that lacks `machine_read` returns `success` false and a `msg`, with no `error` field.
        '403':
          description: Forbidden. `error` is `auth_error` when the Authorization header is missing ("This action requires login."), `not_owner` when the machine belongs to someone else, or `sla_disabled` when SLA is off for the platform.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    enum:
                    - auth_error
                    - not_owner
                    - sla_disabled
                  msg:
                    type: string
        '404':
          description: Machine not found (`machine_not_found`), or a malformed API key (`auth_error`, "Invalid user key").
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    enum:
                    - machine_not_found
                    - auth_error
                    example: machine_not_found
        '429':
          description: Too Many Requests — rate limit exceeded
      tags:
      - Host
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer authentication with API key in Authorization header
x-rate-limit:
  threshold: 2.0
  per: request
  description: Rate limit per account for a signed-in API key. Unauthenticated calls are limited per IP address.
