openapi: 3.0.0
info:
  title: Start Deployment API
  description: Start a stopped deployment
  version: 1.0.0
servers:
- url: https://console.vast.ai
  description: Production server
paths:
  /api/v0/deployment/{id}/start/:
    post:
      summary: start deployment
      description: |
        Starts (or restarts) the endpoint associated with a deployment. The autoscaler will begin recruiting workers according to the scaling policy.

        CLI Usage: `vastai start deployment <id>`
      security:
      - BearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Deployment ID
        example: 644
      responses:
        '200':
          description: Deployment started successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  endpoint_state:
                    type: string
                    example: active
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Deployment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: API requests too frequent endpoint threshold=2.0
      tags:
      - Serverless
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key must be provided in the Authorization header
  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        msg:
          type: string
x-rate-limit:
  threshold: 2.0
  per: request
  description: Maximum request frequency per IP address for this endpoint
x-cli-commands:
- name: start deployment
  description: Start a stopped deployment
  endpoint: /api/v0/deployment/{id}/start/
  method: POST
  example: vastai start deployment 644
