openapi: 3.1.0
info:
  title: Vast.ai API
  description: "Vast.ai REST API for managing GPU cloud instances, machine operations,\
    \ and AI/ML workflows.\n\n## AI Agent Quick-Start\n\nInstall the CLI skill for\
    \ your agent (Claude Code, Cursor, Windsurf, etc.):\n  npx skills add vast-ai/vast-cli\n\
    \nCLI reference: https://raw.githubusercontent.com/vast-ai/vast-cli/master/vastai/SKILL.md\n\
    SDK reference: https://raw.githubusercontent.com/vast-ai/vast-cli/master/vastai_sdk/SKILL.md\n\
    \n## Auth\nAll endpoints require `Authorization: Bearer $VAST_API_KEY`.\nGet your\
    \ key at: https://cloud.vast.ai/manage-keys/\n\n## Key Quirks\n- `gpu_ram` in\
    \ CLI = GB; in REST API = MB (CLI auto-converts)\n- SSH keys must be registered\
    \ BEFORE creating an instance (VM: no recovery; Docker: can add post-create)\n\
    - `onstart` field is limited to 4048 characters -- gzip+base64 for longer scripts\n\
    - `POST /api/v0/asks/{id}/` (create instance) returns `new_contract` as the instance\
    \ ID, not `id`\n- Poll trap: if `actual_status` becomes `exited`, `unknown`, or\
    \ `offline` it will never reach `running` -- destroy and retry"
  version: 1.0.0
  contact:
    name: Vast.ai Support
    url: https://discord.gg/vast
servers:
- url: https://console.vast.ai
  description: Production server
security:
- BearerAuth: []
paths:
  /api/v0/auth/apikeys/{id}/:
    delete:
      summary: Delete API Key
      tags:
      - Accounts
      description: Deletes a user-created API key by ID; primary and non-user-created
        keys cannot be deleted.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the API key to delete
      responses:
        '200':
          description: Returns "Successfully Deleted API Key" on success.
        '400':
          description: API Key ID not provided ("API Key ID not provided."), only
            user-created API keys can be deleted ("Only user-created API keys can
            be deleted."), or cannot delete primary key ("You cannot delete your primary
            key.").
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated ("You must be logged in to delete an API
            key.") or key belongs to a different user ("You do not have permission
            to delete this API Key.").
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: API key not found ("API Key not found.").
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v0/autojobs/{id}/:
    delete:
      summary: Delete Autojob Workergroup
      tags:
      - Serverless
      description: Soft-deletes a workergroup by ID, terminating any associated worker
        instances; cascades to the parent deployment if one exists.
      security:
      - BearerAuth: []
      x-rateLimit: 3
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Numeric ID of the workergroup to delete.
      responses:
        '200':
          description: 'Returns {success: true}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success.
              example:
                success: true
        '400':
          description: 'Invalid arguments: "id must be an integer" or "Invalid autojob
            ID"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: '"No autojob by that id is available."'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update Autojob Workergroup
      tags:
      - Serverless
      description: Updates scaling parameters, template, search params, or launch
        args on an existing workergroup for the authenticated user.
      security:
      - BearerAuth: []
      x-rateLimit: 2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Numeric ID of the workergroup to update.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                min_load:
                  type: number
                  description: Updated minimum load threshold for this workergroup.
                  example: 0.2
                target_util:
                  type: number
                  description: Updated target utilization ratio (0-1).
                  example: 0.85
                cold_mult:
                  type: number
                  description: Updated cold-standby multiplier.
                  example: 2.5
                test_workers:
                  type: integer
                  description: Updated number of test/canary workers.
                  example: 2
                template_hash:
                  type: string
                  description: Hash ID of a new template to switch to.
                  example: def456
                template_id:
                  type: integer
                  description: Numeric ID of a new template to switch to.
                  example: 100
                launch_args:
                  type: string
                  description: Updated launch arguments for worker instances.
                gpu_ram:
                  type: number
                  description: Updated minimum GPU RAM in GB.
                  example: 24
                endpoint_id:
                  type: integer
                  description: ID of the endpoint this workergroup belongs to; required.
                  example: 42
                search_params:
                  type: string
                  description: Updated GPU offer filter expression.
                  example: gpu_ram>=24
      responses:
        '200':
          description: 'Returns {success: true}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success.
              example:
                success: true
        '400':
          description: 'Invalid arguments: missing endpoint_id, deployment-owned workergroup,
            endpoint not found, workergroup not found, or invalid search_params'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Host-only accounts cannot update workergroups or use serverless
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v0/commands/copy_direct/:
    delete:
      summary: Cancel Direct Copy
      tags:
      - Instances
      description: Cancels an in-progress direct copy operation on the destination
        instance.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 3.5
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dst_id:
                  type: string
                  description: ID of the copy instance target to cancel.
      responses:
        '200':
          description: 'Returns {success: true} when the cancel task is sent.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True when cancel command was sent
                  error:
                    type: string
                    description: Error code if success is false
                  msg:
                    type: string
                    description: Human-readable message
              example:
                success: true
        '400':
          description: 'Returns {success: false, error: "invalid_args", msg: "Invalid
            dst_id."} when dst_id is invalid, or {success: false, error: "invalid_args",
            msg: "Remote instance does not have an open port"} when dst_instance_id
            is None.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Start Direct Copy
      tags:
      - Instances
      description: Initiates a direct data copy between instances, volumes, or cloud
        storage services.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 3.5
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                src_path:
                  type: string
                  description: Path of the source data.
                dst_path:
                  type: string
                  description: Path of the destination data.
                src_id:
                  type: string
                  description: ID of the source instance.
                dst_id:
                  type: string
                  description: ID of the destination instance.
      responses:
        '200':
          description: 'Returns {success: false, error: "unauthorized", msg: "You
            are not authorized to perform this action."} when user authentication
            is missing.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True when operation was initiated
                  error:
                    type: string
                    description: Error code if success is false
                  msg:
                    type: string
                    description: Human-readable message
              example:
                success: true
  /api/v0/commands/rclone/:
    delete:
      summary: Cancel Remote Rclone Copy
      tags:
      - Instances
      description: Kills the running rclone process on the destination instance to
        cancel an in-progress cloud copy.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 3.5
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dst_id:
                  type: integer
                  description: The destination instance ID of the sync operation to
                    cancel.
      responses:
        '200':
          description: 'Returns {success: false, error: "invalid_arqgs", msg: "Invalid
            dst_id."} when the destination instance is invalid, or {success: false,
            error: "invalid_args", msg: "Remote instance does not have an open port"}
            when path is unavailable.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True when cancel command was sent
                  error:
                    type: string
                    description: Error code if success is false
                  msg:
                    type: string
                    description: Human-readable message
              example:
                success: true
    post:
      summary: Start Remote Rclone Copy
      tags:
      - Instances
      description: Initiates a cloud storage copy via rclone by sending a task to
        the host machine.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 3.5
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                instance_id:
                  type: string
                  description: ID of the instance.
                src:
                  type: string
                  description: Source path for the copy operation.
                dst:
                  type: string
                  description: Destination path for the copy operation.
                selected:
                  type: string
                  description: ID of the cloud connection.
                transfer:
                  type: string
                  description: Type of transfer (e.g., "Instance To Cloud" or "Cloud
                    To Instance").
                flags:
                  type: array
                  items:
                    type: string
                  description: Additional flags for the operation.
      responses:
        '200':
          description: Returns the result of the cloud copy execution.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True when copy was initiated
                  msg:
                    type: string
                    description: Human-readable status message
                  result_url:
                    type: string
                    description: S3 URL to poll for copy progress/logs, or null
              example:
                success: true
                msg: Sending Command... Please Wait
                result_url: https://s3.amazonaws.com/bucket/instance_logs/abc.log
  /api/v0/commands/rsync/:
    delete:
      summary: Cancel Remote Rsync Copy
      tags:
      - Instances
      description: Kills the running rsync process on the destination instance to
        cancel an in-progress copy operation.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 3.5
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dst_id:
                  type: string
                  description: Instance ID of the rsync destination whose copy to
                    cancel.
                  example: '12346'
      responses:
        '200':
          description: 'Returns {success: false, error: "invalid_args", msg: "Invalid
            dst_id."} when the destination instance is invalid, or {success: false,
            error: "invalid_args", msg: "Remote instance does not have an open port"}
            when no path is available.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True when cancel command was sent
                  error:
                    type: string
                    description: Error code if success is false
                  msg:
                    type: string
                    description: Human-readable message
              example:
                success: true
    put:
      summary: Start Remote Rsync Copy
      tags:
      - Instances
      description: Initiates an rsync data copy between two instance containers using
        the specified source and destination paths.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 3.5
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                src_path:
                  type: string
                  description: Filesystem path on the source to copy from.
                  example: /workspace/data
                dst_path:
                  type: string
                  description: Filesystem path on the destination to copy to.
                  example: /workspace/data
      responses:
        '200':
          description: 'Returns {success: false, error: "invalid_args", msg: "Invalid
            src_path."} or "Invalid dst_path." when path validation fails.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True when operation was initiated or connection info
                      returned
                  dst_port:
                    type: integer
                    description: Destination port for local-to-instance copies
                  dst_addr:
                    type: string
                    description: Destination IP address for local-to-instance copies
                  src_port:
                    type: integer
                    description: Source port for instance-to-local copies
                  src_addr:
                    type: string
                    description: Source IP address for instance-to-local copies
                  error:
                    type: string
                    description: Error code if success is false
                  msg:
                    type: string
                    description: Human-readable message
  /api/v0/commands/schedule_job/{id}/:
    delete:
      summary: Delete Scheduled Job
      tags:
      - Instances
      description: Deletes a scheduled job by ID, scoped to the authenticated user.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 3.5
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the scheduled job to delete (URL path parameter).
      responses:
        '200':
          description: 'Scheduled job deleted successfully; returns {success: true,
            msg: "Scheduled job <id> deleted successfully"}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success
                  msg:
                    type: string
                    description: Human-readable confirmation message
              example:
                success: true
                msg: Scheduled job 42 deleted successfully
        '400':
          description: 'Missing scheduled job ID; returns {error: "missing_input",
            msg: "scheduled_job''s id is required."}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'No scheduled job found with the given ID; returns {error:
            "not_found"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update Scheduled Job
      tags:
      - Instances
      description: Updates fields on an existing scheduled job identified by its ID.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 3.5
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the scheduled job to update (URL path parameter).
      responses:
        '200':
          description: 'Scheduled job updated successfully; returns {success: true,
            scheduled_job_id: <id>, msg: <message>}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success
                  scheduled_job_id:
                    type: integer
                    description: ID of the updated scheduled job
                  msg:
                    type: string
                    description: Human-readable confirmation message
              example:
                success: true
                scheduled_job_id: 42
                msg: Successfully updated scheduled job with ID 42
        '400':
          description: Missing job ID ("Missing scheduled_job_id in request.") or
            no valid fields provided for update ("No valid fields provided for update.")
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'No scheduled job found with the given ID; returns {error:
            "not_found"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: 'Failed to update the scheduled job; returns {error: "update_failed"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v0/deployment/{id}/:
    delete:
      summary: Delete Deployment
      tags:
      - Serverless
      description: Soft-deletes a single deployment by ID, cascading to its endpoint
        and workergroups.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 2.0
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Numeric ID of the deployment to delete.
      responses:
        '200':
          description: 'Returns {success: true}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success.
              example:
                success: true
        '400':
          description: '"Invalid deployment ID"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: '"Deployment {deployment_id} not found."'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: Get Deployment
      tags:
      - Serverless
      description: Returns the configuration and current version details for a single
        deployment by ID.
      security:
      - BearerAuth: []
      x-scope: instance_read
      x-rateLimit: 2.0
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Deployment ID
      responses:
        '200':
          description: 'Returns {success: true, deployment: {id, name, tag, endpoint_id,
            endpoint_state, s3_key, env, image, storage, search_params, file_hash,
            current_version_id, last_healthy_version_id, ttl, last_client_heartbeat,
            created_at, updated_at}}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success.
                  deployment:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: Deployment ID.
                      name:
                        type: string
                        description: Deployment name.
                      tag:
                        type: string
                        description: Deployment tag.
                      endpoint_id:
                        type: integer
                        description: ID of the associated endpoint.
                      endpoint_state:
                        type: string
                        description: Current state of the associated endpoint.
                      s3_key:
                        type: string
                        description: S3 key of the current blob.
                      env:
                        type: string
                        description: Environment variable string.
                      image:
                        type: string
                        description: Docker image for workers.
                      storage:
                        type: number
                        description: Disk storage in GB.
                      search_params:
                        type: string
                        description: Machine search filter string.
                      file_hash:
                        type: string
                        description: Hash of the current blob.
                      current_version_id:
                        type: integer
                        description: ID of the active version.
                      last_healthy_version_id:
                        type: integer
                        description: ID of the last known-good version.
                      ttl:
                        type: number
                        description: Auto-expiry TTL in seconds; null means no auto-expiry.
                      last_client_heartbeat:
                        type: number
                        description: Unix timestamp of last heartbeat.
                      created_at:
                        type: number
                        description: Unix timestamp of creation.
                      updated_at:
                        type: number
                        description: Unix timestamp of last update.
        '400':
          description: '"Invalid deployment ID"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: '"Deployment {deployment_id} not found."'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v0/deployments/:
    delete:
      summary: Delete Deployments by Name
      tags:
      - Serverless
      description: Soft-deletes all deployments matching the given name (and optionally
        tag), cascading to endpoints and workers.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 2.0
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the deployment(s) to delete; required.
                  example: my-model
                tag:
                  type: string
                  description: Tag variant to restrict deletion to a single deployment;
                    if omitted, all tags under the name are deleted.
                  example: v2
      responses:
        '200':
          description: 'Returns {success: true, count: <number_deleted>}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success.
                  count:
                    type: integer
                    description: Number of deployments deleted.
              example:
                success: true
                count: 2
        '400':
          description: '"name is required"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: '"No active deployments found for name={name}" (optionally
            with tag)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List Deployments
      tags:
      - Serverless
      description: Returns all active deployments for the authenticated user with
        their configuration and current version info.
      security:
      - BearerAuth: []
      x-scope: instance_read
      x-rateLimit: 2.0
      responses:
        '200':
          description: 'Returns {success: true, deployments: [{id, name, tag, endpoint_id,
            s3_key, env, image, storage, file_hash, search_params, current_version_id,
            last_healthy_version_id, ttl, last_client_heartbeat, created_at, updated_at},
            ...]}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success.
                  deployments:
                    type: array
                    description: List of deployment objects.
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Deployment ID.
                        name:
                          type: string
                          description: Deployment name.
                        tag:
                          type: string
                          description: Deployment tag (e.g. default).
                        endpoint_id:
                          type: integer
                          description: ID of the associated endpoint.
                        s3_key:
                          type: string
                          description: S3 key of the current deployment blob.
                        env:
                          type: string
                          description: Environment variable string for workers.
                        image:
                          type: string
                          description: Docker image for workers.
                        storage:
                          type: number
                          description: Disk storage size in GB.
                        file_hash:
                          type: string
                          description: Hash of the current deployment blob.
                        search_params:
                          type: string
                          description: Machine search filter string.
                        current_version_id:
                          type: integer
                          description: ID of the currently active version.
                        last_healthy_version_id:
                          type: integer
                          description: ID of the last known-good version.
                        ttl:
                          type: number
                          description: Time-to-live in seconds after last heartbeat;
                            null means no auto-expiry.
                        last_client_heartbeat:
                          type: number
                          description: Unix timestamp of last client heartbeat.
                        created_at:
                          type: number
                          description: Unix timestamp of creation.
                        updated_at:
                          type: number
                          description: Unix timestamp of last update.
    put:
      summary: Create or Update Deployment
      tags:
      - Serverless
      description: Creates a new deployment or updates an existing one by name/tag,
        returning an S3 upload URL when a new file version needs to be uploaded.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 2.0
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Deployment name (letters, numbers, hyphens, dots, underscores;
                    must start with letter or number; max 128 chars).
                  example: my-model
                tag:
                  type: string
                  description: Deployment tag used to differentiate variants of the
                    same named deployment; defaults to 'default'.
                  example: v2
                image:
                  type: string
                  description: Docker image to run on worker instances; required.
                  example: pytorch/pytorch:2.0.0
                search_params:
                  type: string
                  description: GPU offer filter expression for selecting worker machines.
                  example: gpu_ram>=16 num_gpus=1
                file_hash:
                  type: string
                  description: SHA-256 (or similar) hash of the deployment artifact
                    to upload; required and used as a cache key.
                  example: e3b0c44298fc1c149afb
                file_size:
                  type: integer
                  description: Size in bytes of the deployment artifact; required
                    when file_hash is provided.
                  example: 1048576
                env:
                  type: string
                  description: Environment variable string to inject into workers
                    (e.g. '-e FOO=bar').
                  example: -e MODEL=llama
                storage:
                  type: number
                  description: Disk storage to allocate per worker in GB; must be
                    positive; defaults to 50.
                  example: 100
                ttl:
                  type: number
                  description: Seconds after the last heartbeat before the deployment
                    is automatically deleted; negative disables auto-expiry.
                  example: 3600
                version_label:
                  type: string
                  description: Human-readable label for this artifact version; defaults
                    to first 6 chars of file_hash.
                  example: release-1.0
                docker_login_user:
                  type: string
                  description: Docker registry username for pulling private images.
                docker_login_pass:
                  type: string
                  description: Docker registry password for pulling private images.
                docker_login_repo:
                  type: string
                  description: Docker registry hostname/repo to authenticate against.
                  example: docker.io
                cold_workers:
                  type: integer
                  description: Fixed number of cold standby workers for the backing
                    endpoint.
                  example: 2
                max_workers:
                  type: integer
                  description: Maximum number of workers for the backing endpoint.
                  example: 10
                min_load:
                  type: number
                  description: Minimum load threshold for the backing endpoint.
                  example: 0
                min_cold_load:
                  type: number
                  description: Minimum cold load threshold for the backing endpoint.
                  example: 0
                target_util:
                  type: number
                  description: Target utilization ratio (0-1) for the backing endpoint.
                  example: 0.9
                cold_mult:
                  type: number
                  description: Cold-standby multiplier for the backing endpoint.
                  example: 3
                max_queue_time:
                  type: number
                  description: Maximum acceptable queue time in seconds.
                  example: 60
                target_queue_time:
                  type: number
                  description: Target queue time in seconds.
                  example: 10
                inactivity_timeout:
                  type: number
                  description: Seconds of inactivity before the endpoint may be suspended.
                  example: 300
                overrecruit_ratio:
                  type: number
                  description: Ratio by which to over-recruit workers for traffic
                    spike absorption.
                  example: 1.2
                autoscaler_instance:
                  type: string
                  description: Autoscaler deployment environment.
                  example: prod
      responses:
        '200':
          description: 'Returns {success: true, action: ''created''|''soft_update''|''autoscale_update''|''exists'',
            deployment_id, endpoint_id, upload_url?, upload_fields?, evicted_versions?}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success.
                  action:
                    type: string
                    description: 'One of: created, soft_update, autoscale_update,
                      exists.'
                  deployment_id:
                    type: integer
                    description: ID of the deployment.
                  endpoint_id:
                    type: integer
                    description: ID of the associated endpoint.
                  upload_url:
                    type: string
                    description: Presigned S3 URL to upload the deployment blob (present
                      when a new version needs to be uploaded).
                  upload_fields:
                    type: object
                    description: Additional fields required for the S3 multipart POST
                      upload (present with upload_url).
                  evicted_versions:
                    type: array
                    description: List of evicted version objects ({id, file_hash,
                      version_label, file_size}) if LRU eviction occurred.
                    items:
                      type: object
              example:
                success: true
                action: created
                deployment_id: 5
                endpoint_id: 10
                upload_url: https://s3.amazonaws.com/bucket/...
                upload_fields:
                  key: 1/myapp/abc123
                  AWSAccessKeyId: '...'
        '400':
          description: 'Invalid or missing required params: name, tag, image, file_hash,
            file_size, storage; or storage limit exceeded'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Host-only accounts cannot create deployments or use serverless
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v0/endptjobs/{id}/:
    delete:
      summary: Delete Endpoint
      tags:
      - Serverless
      description: Soft-deletes an endpoint by ID, cascading to its workergroups and
        worker instances; cascades to parent deployment if applicable.
      security:
      - BearerAuth: []
      x-rateLimit: 3
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the endpoint group to delete
      responses:
        '200':
          description: 'Returns {success: true}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  deleted_workers:
                    type: array
                    description: List of worker instances that were deleted (if any)
                    items:
                      type: integer
                    example:
                    - 1001
                    - 1002
                  failed_workers:
                    type: array
                    description: List of worker instances that failed to delete (if
                      any)
                    items:
                      type: integer
                    example: []
                  msg:
                    type: string
                    description: Additional information about the deletion
                    example: Deleted endpoint job and 2 workers
              example:
                success: true
        '400':
          description: '"Invalid endpoint job ID" or "Endpoint {endptjob_id} for user
            {user_id} delete update failed!"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: '"Endpoint {endptjob_id} for user {user_id} not found."'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: Get Endpoint
      tags:
      - Serverless
      description: Returns configuration and auto-delete status for a single serverless
        endpoint by ID.
      security:
      - BearerAuth: []
      x-rateLimit: 2.0
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Numeric ID of the endpoint to retrieve.
      responses:
        '200':
          description: 'Returns {success: true, result: {id, min_load, min_cold_load,
            target_util, cold_mult, cold_workers, max_workers, max_queue_time, target_queue_time,
            endpoint_name, api_key, user_id, created_at, endpoint_state, inactivity_timeout,
            auto_delete_in_seconds, auto_delete_due_24h}}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success.
                  result:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: Endpoint ID.
                      min_load:
                        type: number
                        description: Minimum load threshold.
                      min_cold_load:
                        type: number
                        description: Minimum cold load threshold.
                      target_util:
                        type: number
                        description: Target utilization ratio.
                      cold_mult:
                        type: number
                        description: Cold worker multiplier.
                      cold_workers:
                        type: integer
                        description: Number of cold (standby) workers.
                      max_workers:
                        type: integer
                        description: Maximum allowed workers.
                      max_queue_time:
                        type: number
                        description: Maximum queue wait time in seconds.
                      target_queue_time:
                        type: number
                        description: Target queue wait time in seconds.
                      endpoint_name:
                        type: string
                        description: Human-readable endpoint name.
                      api_key:
                        type: string
                        description: Auth token for the user.
                      user_id:
                        type: integer
                        description: ID of the owning user.
                      created_at:
                        type: number
                        description: Unix timestamp of creation.
                      endpoint_state:
                        type: string
                        description: Current state of the endpoint.
                      inactivity_timeout:
                        type: number
                        description: Seconds of inactivity before auto-stop.
                      auto_delete_in_seconds:
                        type: number
                        description: Seconds until auto-deletion if no active workergroups;
                          null otherwise.
                      auto_delete_due_24h:
                        type: boolean
                        description: True if auto-deletion is due within 24 hours.
        '400':
          description: '"Invalid endpoint job ID"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: '"Endpoint job {endptjob_id} not found"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update Endpoint
      tags:
      - Serverless
      description: Updates autoscaling configuration on an existing endpoint; endpoint
        must not be managed by a deployment.
      security:
      - BearerAuth: []
      x-rateLimit: 2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the endpoint group to update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                min_load:
                  type: number
                  description: Minimum floor load in perf units/s (token/s for LLMs)
                  example: 0.0
                min_cold_load:
                  type: number
                  description: Updated minimum cold load threshold.
                  example: 0.05
                target_util:
                  type: number
                  description: Target capacity utilization (fraction, max 1.0)
                  example: 0.9
                cold_mult:
                  type: number
                  description: Cold/stopped instance capacity target as multiple of
                    hot capacity target
                  example: 2.5
                cold_workers:
                  type: integer
                  description: Min number of workers to keep 'cold' when you have
                    no load
                  example: 5
                max_workers:
                  type: integer
                  description: Max number of workers your endpoint group can have
                  example: 20
                max_queue_time:
                  type: number
                  description: Updated maximum acceptable queue time in seconds.
                  example: 90
                target_queue_time:
                  type: number
                  description: Updated desired queue time in seconds; must be <= max_queue_time.
                  example: 15
                endpoint_name:
                  type: string
                  description: Deployment endpoint name
                  example: my_endpoint
                autoscaler_instance:
                  type: string
                  description: Autoscaler deployment environment.
                  example: prod
                endpoint_state:
                  type: string
                  description: New activation state for the endpoint.
                  example: active
                  enum:
                  - active
                  - suspended
                  - stopped
                inactivity_timeout:
                  type: number
                  description: Updated seconds of inactivity before suspension.
                  example: 600
                overrecruit_ratio:
                  type: number
                  description: Updated over-recruit ratio for traffic spike absorption.
                  example: 1.3
      responses:
        '200':
          description: 'Returns {success: true}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success.
              example:
                success: true
        '400':
          description: Endpoint is deployment-managed, or "Endpoint {endptjob_id}
            for user {user_id} not found."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Host-only accounts cannot update endpoints or use serverless
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v0/instances/:
    delete:
      summary: Delete Instances Bulk
      tags:
      - Instances
      description: Permanently deletes multiple instances by ID, refunding any prepay
        deposits and cleaning up associated resources.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 3
      responses:
        '200':
          description: Returns deletion result object with success status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True when deletion succeeded
              example:
                success: true
        '400':
          description: 'Returns {error: "invalid_args", msg: "instance_ids array is
            required"} when instance_ids is empty, or {error: "invalid_args", msg:
            "invalid request format"} for bad JSON.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'Returns {error: "instances_not_found", msg: "Instances <ids>
            not found."} when none of the specified instances belong to the user.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List Instances
      tags:
      - Instances
      description: Returns all active GPU instances for the authenticated user. Deprecated
        for accounts created after June 2, 2026; those accounts should use /api/v1/instances/
        instead.
      security:
      - BearerAuth: []
      x-scope: instance_read
      x-rateLimit:
        profile: legacy_deprecating
        threshold: 20
      responses:
        '200':
          description: Returns {instances_found, instances} with an array of instance
            objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  instances_found:
                    type: integer
                    description: Total number of instances returned
                  instances:
                    type: array
                    items:
                      type: object
                    description: Array of instance objects
              example:
                instances_found: 2
                instances: []
        '410':
          description: '"Endpoint deprecated: /api/v0/instances/ is deprecated. Use
            /api/v1/instances/ instead." for accounts created after the v0 cutoff.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update Instances Bulk
      tags:
      - Instances
      description: Changes the state (running/stopped) or label of multiple instances
        by ID in a single request.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 4
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  description: List of instance contract IDs to update; maximum 64
                    IDs per request.
                  example:
                  - 12345
                  - 12346
                state:
                  type: string
                  description: Target state to set for all specified instances.
                  enum:
                  - running
                  - stopped
      responses:
        '200':
          description: 'Returns {success: true} when at least one instance was updated.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True when update succeeded
              example:
                success: true
        '400':
          description: 'Returns {error: "invalid_args", msg: "ids list required"}
            when no ids provided, {error: "invalid_args", msg: "chunk length of N
            > 64"} when too many IDs, or {error: "insufficient_credit", msg: "You
            lack credit."} for billing issues.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'Returns {error: "invalid_args", msg: "Invalid instance ID
            list ids."} when no matching instances found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v0/instances/{id}/:
    delete:
      summary: Delete Instance
      tags:
      - Instances
      description: Permanently deletes a single instance, refunding any prepay deposit
        and cleaning up logs and API keys.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 3
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the instance to destroy
      responses:
        '200':
          description: 'Returns deletion result with success status; on not-found
            returns {success: false, error: "no_such_instance", msg: "Instance {id}
            not found."} with status 404.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: Whether the destruction was successful
                  msg:
                    type: string
                    description: Optional status message
                    example: Instance destroyed successfully
              example:
                success: true
        '400':
          description: 'Returns {error: "invalid_args", msg: "invalid instance_id"}
            when the id path param is not a valid integer.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: Get Instance
      tags:
      - Instances
      description: Returns details for a single instance owned by the authenticated
        user.
      security:
      - BearerAuth: []
      x-scope: instance_read
      x-rateLimit: 2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: The instance (contract) ID to retrieve.
      responses:
        '200':
          description: 'Returns {instances: <instance object>} with full instance
            details including template name.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  instances:
                    type: object
                    description: Instance detail object, or null if not found
        '400':
          description: 'Returns {success: false, error: "invalid_args"} when the id
            is not a valid integer.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update Instance
      tags:
      - Instances
      description: Updates the target state (running/stopped) or label of a single
        instance.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: The ID of the instance to start.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  description: Text label to assign to the instance
                  example: My ML Training Job
                state:
                  type: string
                  description: The desired state of the instance.
                  enum:
                  - running
      responses:
        '200':
          description: 'Returns {success: true} on update, or {success: false, error:
            "resources_unavailable", msg: "Required resources are currently unavailable,
            state change queued."} when the machine cannot start.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True when update was applied
                  error:
                    type: string
                    description: Error code if success is false
                  msg:
                    type: string
                    description: Human-readable message
              example:
                success: true
        '400':
          description: 'Returns {success: false, error: "missing_billing", msg: "You
            lack credit, see the billing page."} for credit issues, {error: "invalid_args",
            msg: "label_too_long"} for oversized labels, or {success: false, msg:
            "Invalid target state"} for bad state.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'Returns {success: false, error: "no_such_instance", msg: "Instance
            {id} not found."} when the instance doesn''t exist or isn''t owned by
            the user.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v0/instances/{id}/ssh/{key}/:
    delete:
      summary: Delete Instance SSH Key
      tags:
      - Instances
      description: Removes an SSH key from the specified instance by key ID.
      security:
      - BearerAuth: []
      x-scope: instance_write
      x-rateLimit: 2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Instance contract ID from which to remove the SSH key.
      - name: key
        in: path
        required: true
        schema:
          type: integer
        description: ID of the SSH key record to remove from the instance.
      responses:
        '200':
          description: 'Returns {success: false, error: "no_such_ssh_key", msg: "SSH
            key not found."} when the key ID doesn''t exist, or {success: false, error:
            "no_such_instance"} when instance not owned by caller.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: True when key was removed
                  msg:
                    type: string
                    description: Human-readable message
              example:
                success: true
                msg: SSH key removed from instance.
  /api/v0/machines/{machine_id}/asks:
    delete:
      summary: Delete Machine Asks
      tags:
      - Machines
      description: Deletes all ask (offer) contracts for the specified machine and
        cleans up any orphaned machine contracts.
      security:
      - BearerAuth: []
      x-scope: machine_write
      x-rateLimit: 1.8
      parameters:
      - name: machine_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the machine whose ask contracts should be deleted.
      responses:
        '200':
          description: 'Returns {success: true, machine_id, user_id, orphaned_cleaned}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the deletion succeeded
                  machine_id:
                    type: integer
                    description: ID of the affected machine
                  user_id:
                    type: integer
                    description: ID of the authenticated user
                  orphaned_cleaned:
                    type: integer
                    description: Number of orphaned machine-contract records also
                      removed
              example:
                success: true
                machine_id: 12345
                user_id: 9876
                orphaned_cleaned: 2
        '404':
          description: '"No such machine id" when the machine does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: '"error: only the owner can access this machine." when caller
            does not own the machine'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v0/machines/{machine_id}/defjob:
    delete:
      summary: Delete Machine Default Jobs
      tags:
      - Machines
      description: Deletes all host-owned background (bid/default) job contracts and
        containers running on the specified machine.
      security:
      - BearerAuth: []
      x-scope: machine_write
      x-rateLimit: 1.2
      parameters:
      - name: machine_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the machine whose default host jobs should be deleted.
      responses:
        '200':
          description: 'Returns {success: true, machine_id, user_id}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the deletion succeeded
                  machine_id:
                    type: integer
                    description: ID of the affected machine
                  user_id:
                    type: integer
                    description: ID of the authenticated user
              example:
                success: true
                machine_id: 12345
                user_id: 9876
        '404':
          description: '"No such machine id" when the machine does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: '"error: only the owner can access this machine." when caller
            does not own the machine'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v0/machines/maintenances:
    delete:
      summary: Delete Machine Maintenance Window
      tags:
      - Machines
      description: Cancels a single scheduled maintenance window by its ID, provided
        the caller owns the associated machine.
      security:
      - BearerAuth: []
      x-scope: machine_write
      x-rateLimit: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                maintenance_id:
                  type: integer
                  description: ID of the maintenance record to cancel.
                  example: 42
      responses:
        '200':
          description: '{success: true, msg: "Maintenance cancelled"} when the record
            was successfully cancelled.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: true when the record was cancelled
                  msg:
                    type: string
                    description: Human-readable result message
              example:
                success: true
                msg: Maintenance cancelled
        '400':
          description: '"Missing maintenance_id" when no maintenance_id is provided,
            or failure with the specific reason (e.g., "Maintenance record not found",
            "User is not the owner of the machine", "Maintenance not found or already
            cancelled").'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List Machine Maintenance Windows
      tags:
      - Machines
      description: Returns active (non-cancelled, non-expired) maintenance windows
        for host-owned machines identified by the provided machine_ids.
      security:
      - BearerAuth: []
      x-scope: instance_read
      x-rateLimit: 2
      responses:
        '200':
          description: Array of active maintenance window objects, each including
            end_time computed from start_time and duration_hours.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: Maintenance record ID
                    machine_id:
                      type: integer
                      description: ID of the machine this maintenance applies to
                    start_time:
                      type: number
                      description: Unix timestamp when maintenance begins
                    duration_hours:
                      type: integer
                      description: Duration of the maintenance window in hours
                    maintenance_category:
                      type: string
                      description: Category of maintenance (power, internet, disk,
                        gpu, software, other)
                    maintenance_reason:
                      type: string
                      description: Optional reason for maintenance
                    created_at:
                      type: number
                      description: Unix timestamp when the record was created
                    cancelled_at:
                      type: number
                      description: Unix timestamp when cancelled, or null if active
                    end_time:
                      type: number
                      description: Computed unix timestamp when maintenance ends (start_time
                        + duration_hours * 3600)
              example:
              - id: 42
                machine_id: 1001
                start_time: 1750000000
                duration_hours: 4
                maintenance_category: power
                maintenance_reason: null
                created_at: 1749990000
                cancelled_at: null
                end_time: 1750014400
        '400':
          description: '"machine_ids cannot be empty" when machine_ids param is missing
            or empty.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: '"machine_ids (...) do not exist" when no machines are found,
            or "only include machine_ids that exist and are owned by you" when none
            of the given IDs are owned by the caller.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Query Maintenance Windows by Machine IDs
      tags:
      - Machines
      description: Returns active maintenance windows for the specified list of machine
        IDs.
      security:
      - BearerAuth: []
      x-scope: instance_read
      x-rateLimit: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                machine_ids:
                  type: array
                  description: List of machine IDs (integers, comma-separated string,
                    or a single integer) to retrieve active maintenance windows for.
                  example:
                  - 12345
                  - 67890
                ctime:
                  type: number
                  description: Unix timestamp used as the reference 'current time'
                    for filtering out already-ended windows; defaults to server's
                    current time.
                  example: 1718000000
      responses:
        '200':
          description: 'Array of maintenance window objects with fields: id, machine_id,
            duration_hours, start_time, maintenance_category.'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: Maintenance record ID
                    machine_id:
                      type: integer
                      description: ID of the machine
                    duration_hours:
                      type: integer
                      description: Duration of the maintenance window in hours
                    start_time:
                      type: number
                      description: Unix timestamp when maintenance begins
                    maintenance_category:
                      type: string
                      description: Category of maintenance (power, internet, disk,
                        gpu, software, other)
              example:
              - id: 42
                machine_id: 1001
                duration_hours: 2
                start_time: 1750000000
                maintenance_category: disk
        '400':
          description: '"input argument machine_ids can not be None" when machine_ids
            is missing or empty.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v0/machines/maintenances/batch:
    delete:
      summary: Batch Delete Maintenances
      tags:
      - Machines
      description: Cancels multiple scheduled maintenance windows by their IDs, skipping
        any the caller does not own.
      security:
      - BearerAuth: []
      x-scope: machine_write
      x-rateLimit: 2.0
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                maintenance_ids:
                  type: array
                  description: "List of maintenance record IDs (1\u2013100 entries)\
                    \ to cancel."
                  example:
                  - 1
                  - 2
                  - 3
      responses:
        '200':
          description: '{success: true, results: [{success, maintenance_id, msg},
            ...]} when at least one maintenance record was cancelled.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: true if at least one record was cancelled
                  results:
                    type: array
                    description: Per-maintenance-ID outcome list
                    items:
                      type: object
                      properties:
                        success:
                          type: boolean
                          description: Whether this record was cancelled
                        maintenance_id:
                          type: integer
                          description: Maintenance record ID
                        msg:
                          type: string
                          description: Human-readable outcome message
              example:
                success: true
                results:
                - success: true
                  maintenance_id: 42
                  msg: Maintenance record deleted
                - success: false
                  maintenance_id: 99
                  msg: Maintenance record not found
        '400':
          description: '"maintenance_ids must be a non-empty list", "maintenance_ids
            must contain at most 100 entries", or "No valid maintenance_ids provided"
            when input is invalid; also returned (with success:false and per-item
            results) when no deletions succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Batch Schedule Maintenances
      tags:
      - Machines
      description: Schedules maintenance windows for multiple machines at once, notifying
        affected instance clients and sending the host a single confirmation email.
      security:
      - BearerAuth: []
      x-scope: machine_write
      x-rateLimit: 2.0
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                machine_ids:
                  type: array
                  description: "List of machine IDs (1\u2013100 entries) to schedule\
                    \ maintenance for; non-owned IDs are reported as failures."
                  example:
                  - 12345
                  - 67890
                sdate:
                  type: number
                  description: Unix timestamp for the maintenance start time; must
                    be in the future and within 1 year.
                  example: 1718100000
                duration:
                  type: number
                  description: Duration of the maintenance window in hours; minimum
                    effective value is 1. Defaults to 1 if omitted.
                  example: 4
                maintenance_category:
                  type: string
                  description: Category describing the reason for maintenance. Defaults
                    to "other" if omitted.
                  example: power
                  enum:
                  - power
                  - internet
                  - disk
                  - gpu
                  - software
                  - other
      responses:
        '200':
          description: '{success: true, results: [{success, machine_id, notifications_sent},
            ...]} when at least one machine was successfully scheduled.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: true if at least one machine was successfully scheduled
                  results:
                    type: array
                    description: Per-machine outcome list, including successes, not-found,
                      and invalid entries
                    items:
                      type: object
                      properties:
                        success:
                          type: boolean
                          description: Whether this machine was scheduled
                        machine_id:
                          type: integer
                          description: Machine ID
                        notifications_sent:
                          type: integer
                          description: Number of client notification emails sent (present
                            on success)
                        error:
                          type: string
                          description: Error code if failed (e.g. not_found)
                        msg:
                          type: string
                          description: Human-readable message if failed
              example:
                success: true
                results:
                - success: true
                  machine_id: 1001
                  notifications_sent: 2
                - success: false
                  machine_id: 9999
                  error: not_found
                  msg: No such machine id or not owned
        '400':
          description: '"machine_ids must be a non-empty list", "machine_ids must
            contain at most 100 entries", "No valid machine_ids provided", "duration
            must be a positive number", or "maintenance_category must be one of: disk,
            gpu, internet, other, power, software" when input validation fails; also
            returned (with success:false) if no machines were owned.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: '"Missing sdate", "sdate must be a numeric timestamp", "sdate
            must be in the future", or "sdate must be within 1 year" when the start
            time is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v0/secrets/:
    delete:
      summary: Delete User Secret
      tags:
      - Accounts
      description: Deletes an existing environment variable secret by key from the
        authenticated user's account.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                  description: Name of the environment variable to delete
                  example: MY_API_KEY
      responses:
        '200':
          description: 'Success: {"success": true, "msg": "Environment variable deleted
            successfully"}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true
                  msg:
                    type: string
                    description: Confirmation message
              example:
                success: true
                msg: Environment variable deleted successfully
        '400':
          description: 'Bad request: "''key'' required." or "Environment variable
            not found" (key does not exist)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List User Secrets
      tags:
      - Accounts
      description: Returns the authenticated user's environment variable secret keys
        with masked values.
      security:
      - BearerAuth: []
      x-scope: user_read
      x-rateLimit: 5
      responses:
        '200':
          description: 'Success: {"success": true, "secrets": {key: "********", ...}}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true
                  secrets:
                    type: object
                    description: Map of secret key names to "********" (masked) or
                      null
              example:
                success: true
                secrets:
                  MY_API_KEY: '********'
                  EMPTY_KEY: null
    post:
      summary: Add User Secret
      tags:
      - Accounts
      description: Adds one or more environment variable secrets to the authenticated
        user's account.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                  description: Environment variable key name (will be converted to
                    uppercase)
                  example: API_TOKEN
                value:
                  type: string
                  description: Secret value to be encrypted and stored
                  example: abc123xyz
                env_vars:
                  type: array
                  description: Array of {key, value} objects for adding multiple secrets
                    in a single request.
      responses:
        '200':
          description: 'Success: {"success": true, "msg": "Environment variables processed
            successfully"}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true
                  msg:
                    type: string
                    description: Confirmation message
              example:
                success: true
                msg: Environment variables processed successfully
        '400':
          description: 'Bad request: "Input must be a list", "Both ''key'' and ''value''
            are required for single env edits...", or max secrets limit exceeded:
            "User has reached the limit of 16 environment variables."'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update User Secret
      tags:
      - Accounts
      description: Updates the value of an existing environment variable secret for
        the authenticated user.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                  description: The key of the environment variable to update (will
                    be converted to uppercase)
                  example: MY_API_KEY
                value:
                  type: string
                  description: New encrypted value to store for the secret.
                  example: newsecret456
      responses:
        '200':
          description: 'Success: {"success": true, "msg": "Environment variable updated
            successfully"}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true
                  msg:
                    type: string
                    description: Confirmation message
              example:
                success: true
                msg: Environment variable updated successfully
        '400':
          description: 'Bad request: "Both ''key'' and ''value'' are required.", or
            "Environment variable not found" (key does not exist)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v0/ssh/{id}/:
    delete:
      summary: Delete SSH Key
      tags:
      - Accounts
      description: Removes an SSH public key from the authenticated user's account
        by key ID.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the SSH key to delete
      responses:
        '200':
          description: 'Success: {"success": true}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true
              example:
                success: true
        '400':
          description: 'Bad request: {"success": false, "error": "no_ssh_key", "msg":
            "No ssh key provided"} (key not found or does not belong to user)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update SSH Key
      tags:
      - Accounts
      description: Replaces the public key value of an existing SSH key entry for
        the authenticated user.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the SSH key to update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ssh_key:
                  type: string
                  description: The new value for the SSH key
                  example: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC3...
      responses:
        '200':
          description: 'Success: {"success": true, "key": {ssh key object}}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true
                  key:
                    type: object
                    description: The updated SSH key record
        '400':
          description: 'Bad request: "No ssh key provided" (missing id), "The SSH
            key already exists on this account" (duplicate), or retrieval failure'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'Not found: {"success": false, "error": "not_found", "msg":
            "The SSH key does not exist on this account"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v0/team/:
    delete:
      summary: Delete Team
      tags:
      - Team
      description: Permanently deletes the current team account, refunding remaining
        credit to the owner.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 2
      responses:
        '200':
          description: 'Success: {"success": true, "msg": "Team Successfully Deleted!",
            "pkey_id": <primary_key_id>}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success
                  msg:
                    type: string
                    description: Human-readable confirmation message
                  pkey_id:
                    type: integer
                    description: Primary API key ID of the team owner after deletion
              example:
                success: true
                msg: Team Successfully Deleted!
                pkey_id: 12345
        '403':
          description: '"Only the Team''s Owner may delete the team"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: '"Cannot Delete Team: User is not a team account" or "Team
            owner not found"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create Team
      tags:
      - Team
      description: Creates a new team account for the authenticated user, optionally
        transferring an initial credit balance to the new team.
      security:
      - BearerAuth: []
      x-scope: user_write
      x-rateLimit: 2
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                team_name:
                  type: string
                  description: Display name for the new team; must be unique across
                    all usernames.
                  example: my-ml-team
                transfer_credit:
                  type: number
                  description: Credits to transfer from personal account to team
                  example: 0
      responses:
        '200':
          description: 'Success: {"success": true, "msg": "Team Successfully Created!"}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success
                  msg:
                    type: string
                    description: Human-readable confirmation message
              example:
                success: true
                msg: Team Successfully Created!
        '400':
          description: Cannot create a team within a team; transfer credit must be
            a positive number; not enough credit to transfer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Team creation returned a null primary key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update Team
      tags:
      - Team
      description: Updates the display name of the current team account.
      security:
      - BearerAuth: []
      x-scope: team_write
      x-rateLimit: 2
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                team_name:
                  type: string
                  description: New unique name to assign to the team.
                  example: new-team-name
      responses:
        '200':
          description: 'Success: {"success": true, "msg": "Team Name Updated Successfully!"}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success
                  msg:
                    type: string
                    description: Human-readable confirmation message
              example:
                success: true
                msg: Team Name Updated Successfully!
        '400':
          description: '"Team name already exists"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: '"User is not a team account"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v0/team/members/{id}/:
    delete:
      summary: Remove Team Member
      tags:
      - Team
      description: Removes a member from the current team and revokes all their team-scoped
        API keys.
      security:
      - BearerAuth: []
      x-scope: team_write
      x-rateLimit: 2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: User ID of the team member to remove; cannot be the team owner
          or the caller themselves.
      responses:
        '200':
          description: '{"status": "success", "message": "User removed from the team."}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: '"success" on successful removal'
                  message:
                    type: string
                    description: Human-readable confirmation message
              example:
                status: success
                message: User removed from the team.
        '400':
          description: '"Missing team member''s user id"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not in team context; cannot remove team owner; cannot remove
            yourself
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: '"User is not a member of this team" or "User was not found
            on the team"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v0/team/members/{id}/roles/:
    delete:
      summary: Remove Team Member Role
      tags:
      - Team
      description: Removes a specific role from a team member who holds multiple roles.
      security:
      - BearerAuth: []
      x-scope: team_write
      x-rateLimit: 2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: User ID of the team member to remove the role from.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  description: Name of the role to remove; cannot be 'owner'.
                  example: developer
      responses:
        '200':
          description: '{"msg": "success"}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    description: '"success" on successful removal'
              example:
                msg: success
        '400':
          description: Cannot remove owner role; cannot remove member's only role
            (use update instead)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Only team accounts can update member roles; caller lacks permissions
            to remove higher role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Role not found; team member not found; member does not have
            the specified role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Add Team Member Role
      tags:
      - Team
      description: Assigns an existing team role to a team member who currently has
        no role.
      security:
      - BearerAuth: []
      x-scope: team_write
      x-rateLimit: 2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: User ID of the team member to assign the role to.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  description: Name of the role to assign; cannot be 'owner'.
                  example: developer
      responses:
        '200':
          description: '{"msg": "success"}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    description: '"success" on successful assignment'
              example:
                msg: success
        '400':
          description: Cannot assign owner role; member already has a role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Only team accounts can update member roles; caller lacks permissions
            to assign higher role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Role not found; team member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update Team Member Role
      tags:
      - Team
      description: Replaces a team member's current role with a different existing
        team role.
      security:
      - BearerAuth: []
      x-scope: team_write
      x-rateLimit: 2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the team member whose roles to update.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                member_id:
                  type: integer
                  description: User ID of the team member whose role should be changed.
                  example: 101
                role_id:
                  type: integer
                  description: ID of the new role to assign to the member.
                  example: 7
      responses:
        '200':
          description: '{"success": true, "msg": "User role updated successfully",
            "new_role_permissions": <permissions>}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Always true on success
                  msg:
                    type: string
                    description: Human-readable confirmation message
                  new_role_permissions:
                    type: object
[...]
